Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

🐛 fix(cli): don't warn about cascade when an entity-wide default covers it
  src/zae_limiter/limits_cli.py
  tests/unit/test_limits_cli.py
Due: patch-coverage

📝 docs(provisioner): word the CloudFormation boolean error for Cascade too
  src/zae_limiter_provisioner/handler.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 01ea3ed40841c22ebfc5dc5ac0d05d83ac61ec45
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 01ea3ed40841c22ebfc5dc5ac0d05d83ac61ec45
  benchmarks/localstack/data.js
Due: none

📝 docs(adr): add ADR-147, cache rejections from the last bucket state seen
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
  mkdocs.yml
Due: none

🐛 fix(docs): a fast rejection costs 1 WCU, not 0
  CLAUDE.md
  docs/contributing/architecture.md
  docs/guide/basic-usage.md
  docs/guide/llm-integration.md
  docs/performance.md
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter_aggregator/processor.py
  tests/benchmark/test_capacity.py
Due: verify-sync-generated, patch-coverage

⚡ perf(limiter): reject from the last bucket state seen (ADR-147)
  src/zae_limiter/config_cache.py
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_builder.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_builder.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_config_cache.py
  tests/unit/test_limiter.py
  tests/unit/test_rejection_cache.py
  tests/unit/test_sync_config_cache.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

⚡ perf(limiter): index the rejection cache by bucket
  src/zae_limiter/rejection_cache.py
  tests/unit/test_rejection_cache.py
Due: patch-coverage

✅ test(limiter): make the rejection-cache tests prove the cache
  tests/unit/test_rejection_cache.py
Due: none

✅ test(limiter): pin the shard steering over 20 draws
  tests/unit/test_rejection_cache.py
Due: none

✅ test(limiter): cover quota resets, windows, sync and admin clears
  tests/unit/test_rejection_cache.py
Due: none

🐛 fix(limiter): clear the rejection cache after admin writes too
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): forget a refunded shard once the refund lands
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): ADR-147 bounds, not rules out, a doubling the cache missed
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
Due: none

🐛 fix(limiter): never reject a cascading child from the cache
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(docs): correct the fast-rejection prices the first pass missed
  CLAUDE.md
  docs/getting-started.md
  docs/guide/session-quotas.md
  docs/index.md
  docs/performance.md
Due: none

📝 docs: document the rejection cache (ADR-147)
  CLAUDE.md
  docs/contributing/architecture.md
  docs/guide/basic-usage.md
  docs/performance.md
Due: none

✅ test(e2e): run the multi-stack isolation tests on real AWS too
  tests/e2e/test_multi_stack_isolation.py
  tests/fixtures/stack_pairs.py
Due: none

✅ test(limiter): cover the rejection-cache options and guards
  tests/unit/test_rejection_cache.py
Due: none

add Benchmark (pytest) benchmark result for 2a32289c9ce3668b955d91101e8696a87f2949ac
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2a32289c9ce3668b955d91101e8696a87f2949ac
  benchmarks/localstack/data.js
Due: none

📝 docs(adr): record the cascade parent pre-check in ADR-147
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
Due: none

⚡ perf(limiter): check the cascade parent's cached state before writing
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

✅ test(infra): wait for limit-config writes before resolving limits
  tests/e2e/test_multi_stack_isolation.py
  tests/fixtures/stack_pairs.py
Due: none

✅ test(infra): fail teardown when a stack delete fails
  tests/fixtures/stack_pairs.py
Due: none

✅ test(infra): make eventually() fail on timeout
  tests/e2e/test_multi_stack_isolation.py
  tests/fixtures/stack_pairs.py
Due: none

✅ test(infra): keep a live handle on B while A is upgraded
  tests/e2e/test_multi_stack_isolation.py
Due: none

✅ test(infra): refuse "real AWS" unless every endpoint is real
  tests/e2e/test_multi_stack_isolation.py
Due: none

🐛 fix(limiter): a disabled child never gets a parent-driven 429
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): bound the parent check by the rejection-cache TTL
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): any disabled parent shard keeps a cascading child's 403
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): pass avoid_parent_shards only when non-empty
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): prove the parent pre-check makes no call, sync too
  tests/unit/test_rejection_cache.py
Due: none

📝 docs: document the cascade parent pre-check (ADR-147 phase 2)
  CLAUDE.md
  docs/performance.md
  docs/plans/2026-10-06-rejection-cache-design.md
Due: none

📝 docs(adr): record refill from the cached state in ADR-147
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
Due: none

add Benchmark (pytest) benchmark result for e73001c830587be31275a959d16d11b1f7d0a13e
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 54a59f4fce3a895110e4e9451e9b3238ddc2c2d3
  benchmarks/moto/data.js
Due: none

⚡ perf(limiter): refill from the cached state in one locked write
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 54a59f4fce3a895110e4e9451e9b3238ddc2c2d3
  benchmarks/localstack/data.js
Due: none
