Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

👷 ci: stop the integration job re-running e2e and LocalStack benchmarks
  .github/workflows/ci-tests.yml
Due: none

📝 docs(test): update the measured unit-suite durations
  .claude/rules/testing.md
Due: none

✅ test(test): mock the ESM wait in the deploy_lambda_code success test
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated

✅ test(test): run the ESM readiness tests on a virtual clock
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated

✅ test(test): exhaust wcu with one write instead of a thousand
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

👷 ci: drop the duplicate LocalStack doctest step
  .github/workflows/ci-tests.yml
Due: none

🐛 fix(infra): retry only AWS errors while waiting for the ESM
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

👷 ci: list the 20 slowest unit tests in every CI log
  .github/workflows/ci-tests.yml
Due: none

📝 docs(ci): update the typical CI job durations
  .claude/rules/ci-signals.md
Due: none

add Benchmark (pytest) benchmark result for a12ad8176eec584ef5a2ee313deb9a3a146521c8
  benchmarks/moto/data.js
Due: none

✅ test(test): make every mocked __aexit__ return False
  tests/unit/test_cli.py
  tests/unit/test_limiter.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🔨 build(test): block truthy __aexit__ mocks with a pre-commit hook
  .pre-commit-config.yaml
Due: none

add Benchmark (pytest) benchmark result for a12ad8176eec584ef5a2ee313deb9a3a146521c8
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 688ada5c46976778a13d6feab827e1135c2a036e
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 688ada5c46976778a13d6feab827e1135c2a036e
  benchmarks/moto/data.js
Due: none

📝 docs(ci): require a conda-forge check when adding a dependency
  .claude/rules/dependencies.md
Due: none

🔨 build(ci): check runtime dependencies against conda-forge
  scripts/check_conda_forge.py
  tests/unit/test_check_conda_forge.py
Due: none

👷 ci: run the conda-forge check when dependencies change
  .github/workflows/conda-forge-check.yml
Due: none

add Benchmark (pytest) benchmark result for f4c19c7255696d7dcb0b7b1955a65ce63ed3893b
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for f4c19c7255696d7dcb0b7b1955a65ce63ed3893b
  benchmarks/localstack/data.js
Due: none

🎨 style(docs): format the session-quotas plan with pinned ruff 0.16.6
  docs/plans/2026-09-15-session-quotas-plan.md
Due: none

📝 docs(limiter): bound reset_after by the shared period ceiling
  docs/plans/2026-09-15-session-quotas-plan.md
Due: none

📝 docs(limiter): force doublings the way #480 still permits
  docs/plans/2026-09-15-session-quotas-plan.md
Due: none

📝 docs(limiter): refresh the plan's limiter.py line citations
  docs/plans/2026-09-15-session-quotas-plan.md
Due: none

add Benchmark (pytest) benchmark result for bac53230e62c07e6ee8c492846971aad9bb6e3c6
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for bac53230e62c07e6ee8c492846971aad9bb6e3c6
  benchmarks/moto/data.js
Due: none

📝 docs(adr): record duration reset windows as ADR-139
  docs/adr/138-fixed-reset-windows-only.md
  docs/adr/139-duration-reset-windows.md
  mkdocs.yml
Due: none

📝 docs(adr): leave accepted ADR-138 unchanged
  docs/adr/138-fixed-reset-windows-only.md
  docs/adr/139-duration-reset-windows.md
Due: none

✨ feat(models): give a quota a duration window anchored to first use
  src/zae_limiter/models.py
  tests/unit/test_models.py
  tests/unit/test_public_api.py
Due: patch-coverage

✨ feat(schema): carry a duration window on the bucket state
  src/zae_limiter/models.py
  src/zae_limiter/schema.py
  tests/unit/test_models.py
  tests/unit/test_schedule_encoding.py
  tests/unit/test_schema.py
Due: patch-coverage

🐛 fix(models): degrade a doubly-reset bucket state instead of raising
  src/zae_limiter/models.py
  tests/unit/test_models.py
Due: patch-coverage

✨ feat(repository): store a duration window on the config item
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): report a non-integral stored window as unavailable
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): stamp and read a duration window on bucket items
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): report a corrupt stored window as unavailable
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): roll a duration window on the slow path
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_models.py
  tests/unit/test_quota_shard_creation.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): reset unconditionally in the pass that opens a window
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✅ test(repository): name every schedule a rejected config limit carries
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
