Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

📝 docs(claude): note the parent cache fill and the non-cascading parent write
  CLAUDE.md
Due: none

✅ test(limiter): forward shard_id through the speculative test doubles
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for d1b095a421f933b6cc7217bcdc3d855aa3ad64b2
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for d1b095a421f933b6cc7217bcdc3d855aa3ad64b2
  benchmarks/localstack/data.js
Due: none

✅ test(lease): pin that a failed adjustment commit refunds nothing
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(lease): never refund the initial consumption after an adjustment commit
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(lease): record that a failed adjustment commit is never rolled back
  .claude/rules/write-on-enter.md
  CLAUDE.md
Due: none

✅ test(lease): prove the ceiling check is skipped without per-item results
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 7c8eeac94ac046614187b9e369a0312e76826e90
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 7c8eeac94ac046614187b9e369a0312e76826e90
  benchmarks/localstack/data.js
Due: none

📝 docs(adr): propose ADR-146, per-resource cascade policy
  docs/adr/146-per-resource-cascade-policy.md
Due: none

add Benchmark (pytest) benchmark result for 4b07c4f5ef67efddf91acf860e0495e5ab493752
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 4b07c4f5ef67efddf91acf860e0495e5ab493752
  benchmarks/moto/data.js
Due: none

✨ feat(schema): store a tri-state cascade policy on config items
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): resolve the cascade policy from the disabled walk's read
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): cascade per resource on the slow path and stamp the policy
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): decide warm-path cascade per resource; the item overrules
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): fan a cascade-policy change out to existing buckets
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_cascade_policy.py
  tests/unit/test_expression_tokens.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): gate storing a cascade policy on the stack's version
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/version.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): set and clear a cascade policy
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): record what the cascade-policy core settled
  CLAUDE.md
  docs/adr/146-per-resource-cascade-policy.md
Due: none

🐛 fix(limiter): hand a cascading shard's retry to the slow path
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): judge a failed warm child by its own cascade stamp
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

♻️ refactor(repository): teach the warm path what a cascade fan-out decided
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cascade_policy.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 9395c869f7952cc5b79cc4ad6eb71648ed955a23
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 9395c869f7952cc5b79cc4ad6eb71648ed955a23
  benchmarks/localstack/data.js
Due: none

✨ feat(cli): set and clear a per-resource cascade policy
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

📝 docs(cli): document set-cascade and clear-cascade
  CLAUDE.md
  docs/cli.md
Due: none

📝 docs(cli): name the right remedy for a refused cascade policy
  docs/cli.md
  src/zae_limiter/cli.py
Due: patch-coverage

✅ test(cli): pin that a partial cascade fan-out tells the operator to re-run
  tests/unit/test_cli.py
Due: none

add Benchmark (pytest) benchmark result for acbeb272304e6d806ccdbe578e300fa1e2a259bd
  benchmarks/moto/data.js
Due: none

✨ feat(provisioner): parse a cascade policy in the limits manifest
  src/zae_limiter_provisioner/manifest.py
  tests/unit/test_provisioner_manifest.py
Due: patch-coverage

✨ feat(provisioner): apply a manifest cascade policy, gated and change-aware
  src/zae_limiter_provisioner/applier.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_applier.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for acbeb272304e6d806ccdbe578e300fa1e2a259bd
  benchmarks/localstack/data.js
Due: none

✨ feat(provisioner): restamp buckets when a manifest changes a cascade policy
  src/zae_limiter_provisioner/fanout.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_provisioner_fanout.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

✨ feat(provisioner): round-trip a Cascade property through CloudFormation
  src/zae_limiter/limits_cli.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_limits_cli.py
Due: patch-coverage

✨ feat(cli): warn when limits plan cascades a resource with no entity limits
  src/zae_limiter/limits_cli.py
  tests/unit/test_limits_cli.py
Due: patch-coverage

✅ test(e2e): add multi-stack isolation tests on LocalStack
  tests/e2e/test_multi_stack_isolation.py
  tests/fixtures/stack_pairs.py
Due: none

📝 docs: document the per-resource cascade policy
  CLAUDE.md
  docs/adr/146-per-resource-cascade-policy.md
  docs/cli.md
  docs/guide/hierarchical.md
  docs/infra/deployment.md
  docs/operations/rate-limits.md
Due: none

🐛 fix(provisioner): retry a failed cascade fan-out on the next apply
  CLAUDE.md
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
