Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

🐛 fix(limiter): move a quota's surplus instead of discarding it
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/fixtures/sharding.py
  tests/integration/test_bucket_sharding.py
  tests/integration/test_limit_added_to_existing_bucket.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_quota_shard_creation.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
  tests/unit/test_window_applied_marker.py
  tests/unit/test_window_shard_creation.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): cover a legacy quota by its balance, never go unavailable
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_quota_shard_creation.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(aggregator): fund a quota clone from its parent, atomically
  src/zae_limiter/models.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_processor.py
  tests/unit/test_window_shard_creation.py
Due: patch-coverage

🐛 fix(aggregator): leave a moved clone of a pending image to the client
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
  tests/unit/test_window_applied_marker.py
Due: patch-coverage

🐛 fix(aggregator): clone no quota from a record a later doubling overtook
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

✅ test(limiter): guard the quota grant invariants (ADR-145)
  tests/benchmark/test_capacity.py
  tests/e2e/test_session_quotas.py
  tests/fixtures/quota_model.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_quota_conservation_fuzz.py
  tests/unit/test_quota_grant_plan.py
Due: none

📝 docs(limiter): describe the ADR-145 quota move in place of the reclaim
  .claude/rules/code-review.md
  .claude/rules/write-on-enter.md
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/adr/140-duration-window-shard-coherence.md
  docs/adr/141-reset-after-version-gate.md
  docs/adr/142-hide-reset-after-config.md
  docs/adr/145-sharded-quota-conserves-allowance.md
  docs/guide/scheduled-limits.md
  docs/guide/session-quotas.md
  docs/operations/rate-limits.md
  docs/performance.md
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): fix the session roll e2e and check gc writes by behaviour
  tests/e2e/test_session_quotas.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_quota_conservation_fuzz.py
Due: none

📝 docs(limiter): state the gc pin, freeze and legacy donor precisely
  CLAUDE.md
  docs/operations/rate-limits.md
Due: none

🔧 chore(ci): require an AWS e2e run on the release commit
  .claude/rules/release-planning.md
  .claude/skills/pr/release-template.md
  .claude/skills/pr/release.md
Due: none

🐛 fix(limiter): raise a quota shard a racing doubling overtook
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_quota_shard_creation.py
Due: verify-sync-generated, patch-coverage

🐛 fix(aggregator): raise a quota clone a racing doubling overtook
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_processor.py
Due: patch-coverage

🐛 fix(aggregator): keep propagating shard counts when a sibling read fails
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

🐛 fix(limiter): freeze every legacy quota a raised sibling carries
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
  tests/unit/test_quota_shard_creation.py
Due: verify-sync-generated, patch-coverage

✅ test(test): pin the six-gc size budget and the quota moves on LocalStack
  tests/integration/test_bucket_sharding.py
  tests/unit/test_schedule_encoding.py
Due: none

📝 docs(limiter): state the created-shard repair and its one-period residual
  .claude/rules/write-on-enter.md
  CLAUDE.md
  docs/adr/145-sharded-quota-conserves-allowance.md
  docs/guide/scheduled-limits.md
  docs/guide/session-quotas.md
  docs/performance.md
  docs/plans/2026-09-28-quota-shard-grant-design.md
Due: none

🐛 fix(test): read e2e buckets by limit name, not position
  tests/e2e/test_aws.py
  tests/integration/test_provisioner.py
Due: none

🐛 fix(ci): defer every name a gather comprehension binds in sync code
  scripts/generate_sync.py
  tests/unit/test_generate_sync.py
Due: none

🐛 fix(lease): repair a re-issued quota create a doubling overtook
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_quota_shard_creation.py
Due: verify-sync-generated, patch-coverage

🐛 fix(aggregator): swallow connection errors in the clone repair
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

🔨 build(ci): abort sync generation on a non-comprehension gather splat
  CLAUDE.md
  scripts/generate_sync.py
  src/zae_limiter/repository.py
  tests/unit/test_generate_sync.py
Due: verify-sync-generated, patch-coverage

🐛 fix(aggregator): keep the batch alive on a sibling read connection error
  src/zae_limiter/lease.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: verify-sync-generated, patch-coverage

✅ test(aggregator): cover a throttled clone repair write
  tests/unit/test_processor.py
Due: none

✅ test(benchmark): count the stale-count repair read in a quota move
  tests/benchmark/test_capacity.py
Due: none

add Benchmark (pytest) benchmark result for d45fe7660b9b88449f7639d9af8d3c1a5cf34b7d
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 0e880ad9c58d90069c60a4d4f4f2131a1dac6f72
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 0e880ad9c58d90069c60a4d4f4f2131a1dac6f72
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 2005ccc352ab09da8eb23282bd5fa487418b3c69
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2005ccc352ab09da8eb23282bd5fa487418b3c69
  benchmarks/localstack/data.js
Due: none

📝 docs(adr): reconcile the v0.15 ADRs with ADR-133 and ADR-137
  docs/adr/100-centralized-config.md
  docs/adr/133-client-shard-creation.md
  docs/adr/137-reset-replaces-drip.md
  docs/adr/139-duration-reset-windows.md
  docs/adr/140-duration-window-shard-coherence.md
  docs/adr/141-reset-after-version-gate.md
  docs/adr/142-hide-reset-after-config.md
  docs/adr/145-sharded-quota-conserves-allowance.md
Due: none

📝 docs(adr): accept ADR-139 to ADR-142 and ADR-145
  docs/adr/139-duration-reset-windows.md
  docs/adr/140-duration-window-shard-coherence.md
  docs/adr/141-reset-after-version-gate.md
  docs/adr/142-hide-reset-after-config.md
  docs/adr/145-sharded-quota-conserves-allowance.md
Due: none

add Benchmark (pytest) benchmark result for c9c7c39eb49974685e43b797b35fb74fe7eadeba
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for c9c7c39eb49974685e43b797b35fb74fe7eadeba
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 4d26d034452adc7c2aa85e14e596e5fe13eca2a4
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 4d26d034452adc7c2aa85e14e596e5fe13eca2a4
  benchmarks/localstack/data.js
Due: none

🐛 fix(infra): keep stack parameters on tag refresh and drop it from auto-update
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cli.py
  tests/unit/test_repository_builder.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

🐛 fix(infra): refresh version tags only from upgrade
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  tests/unit/test_cli.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

✅ test(infra): assert upgrade refreshes stack tags on LocalStack
  tests/e2e/test_upgrade_partial_stacks.py
Due: none

🐛 fix(infra): resend the stack's template on a tag refresh
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
