Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

✨ feat(limiter): enforce disabled on fast and slow acquire paths
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): guard the cache-miss cascade path against a disabled parent
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

✨ feat(cli): add resource/entity disable, enable, and clear-disabled
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

✅ test(repository): add LocalStack coverage for disable fan-out
  tests/integration/test_disable_fanout.py
Due: none

✨ feat(provisioner): support disabled in limits manifests
  src/zae_limiter_provisioner/applier.py
  src/zae_limiter_provisioner/fanout.py
  src/zae_limiter_provisioner/handler.py
  src/zae_limiter_provisioner/manifest.py
  tests/unit/test_applier.py
  tests/unit/test_provisioner_fanout.py
  tests/unit/test_provisioner_handler.py
  tests/unit/test_provisioner_manifest.py
Due: patch-coverage

🐛 fix(provisioner): carry disabled through CFN Custom::ZaeLimiterLimits round trip
  src/zae_limiter/limits_cli.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_limits_cli.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

🐛 fix(provisioner): fan out disabled changes even when the key is absent
  src/zae_limiter_provisioner/applier.py
  src/zae_limiter_provisioner/fanout.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_provisioner_fanout.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

🐛 fix(provisioner): fan out entity-wide _default_ directives unscoped
  src/zae_limiter_provisioner/fanout.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_provisioner_fanout.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

📝 docs(limiter): document resource and entity disable
  CLAUDE.md
  docs/adr/125-resource-disable.md
  docs/api/exceptions.md
  docs/api/index.md
  docs/cli.md
  docs/guide/basic-usage.md
  docs/guide/config-hierarchy.md
  docs/guide/unavailability.md
  docs/operations/index.md
  docs/operations/rate-limits.md
  mkdocs.yml
Due: none

🐛 fix(repository): eagerly fan out disabled changes from setters and deletes
  CLAUDE.md
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

🐛 fix(provisioner): mirror repository fanout semantics and fan out deletes
  src/zae_limiter_provisioner/fanout.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_provisioner_fanout.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

🐛 fix(cli): show disabled status when no limits are configured
  docs/cli.md
  docs/operations/rate-limits.md
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

✨ feat(repository): add Repository.connect() for externally managed infrastructure
  CLAUDE.md
  docs/api/repository.md
  docs/infra/deployment.md
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository_builder.py
Due: verify-sync-generated, patch-coverage

✅ test(repository): make connect() version tests environment-independent
  tests/doctest/conftest.py
  tests/unit/test_repository_builder.py
Due: none

add Benchmark (pytest) benchmark result for 74dec1e778c401752f09dec43c48862a55769667
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 74dec1e778c401752f09dec43c48862a55769667
  benchmarks/localstack/data.js
Due: none

✅ test(benchmark): account for the slow-path disabled walk in capacity
  tests/benchmark/test_capacity.py
Due: none

📝 docs(performance): document the disabled walk's read cost
  docs/performance.md
Due: none

add Benchmark (pytest) benchmark result for 7c8590b8338a47fe8ed03aa076f4c0b26ea86902
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 7c8590b8338a47fe8ed03aa076f4c0b26ea86902
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 20b5eae4140f9196057878440f34772bb41b5f08
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 20b5eae4140f9196057878440f34772bb41b5f08
  benchmarks/moto/data.js
Due: none

🐛 fix(infra): grant dynamodb:UpdateItem to the provisioner role
  src/zae_limiter/infra/cfn_template.yaml
  tests/e2e/test_aws.py
  tests/integration/test_provisioner.py
  tests/unit/test_cfn_iam_parity.py
Due: check-aws-partition, patch-coverage

🐛 fix(repository): register the config item disable_entity creates
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_repository.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): register the resource disable_resource writes
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_repository.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

🔒 fix(repository): stop resolve_disabled failing open on a partial read
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

⚡ perf(repository): skip the disable fan-out when nothing was disabled
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_disable.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

⚡ perf(limiter): let the disable walk reuse the config fetch
  .claude/rules/testing.md
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/benchmark/test_capacity.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

✅ test(disable): cover the branches the diff-coverage gate flagged
  tests/unit/test_disable.py
Due: none

🐛 fix(limiter): close the last three review findings on ADR-125
  docs/api/exceptions.md
  src/zae_limiter/__init__.py
  src/zae_limiter/exceptions.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_cli.py
  tests/unit/test_disable.py
  tests/unit/test_repository_protocol_parity.py
Due: verify-sync-generated, patch-coverage

✅ test(disable): cover the entity fan-out's partial-failure path
  tests/unit/test_disable.py
Due: none

add Benchmark (pytest) benchmark result for 9485bcb3fc5b9f4850ee6bce5e769d66e57e1b5f
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 9485bcb3fc5b9f4850ee6bce5e769d66e57e1b5f
  benchmarks/localstack/data.js
Due: none

✨ feat(infra): add enable_provisioner option to skip the provisioner Lambda
  CLAUDE.md
  docs/cli.md
  docs/infra/deployment.md
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_builder.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_builder.py
  tests/unit/test_cli.py
  tests/unit/test_models.py
  tests/unit/test_repository_builder.py
Due: verify-sync-generated, patch-coverage

🐛 fix(infra): gate Lambda code deploys on the CFN creation conditions
  CLAUDE.md
  src/zae_limiter/limits_cli.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limits_cli.py
  tests/unit/test_models.py
  tests/unit/test_repository_builder.py
Due: verify-sync-generated, patch-coverage

✨ feat(cli): report provisioner state in `zae-limiter status`
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

🐛 fix(cli): read aggregator state from stack outputs, not the table stream
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

⬆️ deps: refresh uv.lock to clear 51 Dependabot alerts
  uv.lock
Due: none

add Benchmark (pytest) benchmark result for 880d2669666c90cebad95b31e90302ff0e0a5f79
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 880d2669666c90cebad95b31e90302ff0e0a5f79
  benchmarks/localstack/data.js
Due: none

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
