Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

📝 docs: add ADRs 114-124 to mkdocs navigation
  mkdocs.yml
Due: none

📝 docs(adr): resolve cross-ADR consistency issues (107, 100, 013)
  docs/adr/013-module-documentation-parity.md
  docs/adr/100-centralized-config.md
  docs/adr/107-iam-roles-for-application-access.md
Due: none

add Benchmark (pytest) benchmark result for 1277a70a0fa9f2b57b50c6f4997e1d8f5b2a6b22
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 1277a70a0fa9f2b57b50c6f4997e1d8f5b2a6b22
  benchmarks/moto/data.js
Due: none

📝 docs(repository): design spec for aioboto3 → aiobotocore migration
  docs/plans/2026-06-22-aiobotocore-migration-design.md
Due: none

📝 docs: document docs/plans/ as the home for planning artifacts
  CLAUDE.md
Due: none

📝 docs(repository): implementation plan for aiobotocore migration
  docs/plans/2026-06-22-aiobotocore-migration-plan.md
Due: none

⬆️ deps(repository): add aiobotocore alongside aioboto3
  pyproject.toml
  uv.lock
Due: none

🔨 build(ci): teach sync transformer to map aiobotocore → boto3
  scripts/generate_sync.py
Due: none

♻️ refactor(repository): create DynamoDB/STS clients via aiobotocore
  src/zae_limiter/repository.py
  tests/unit/test_repository.py
Due: verify-sync-generated, patch-coverage

♻️ refactor(infra): create CFN/Lambda clients via aiobotocore
  src/zae_limiter/infra/stack_manager.py
  tests/unit/test_stack_manager.py
Due: verify-sync-generated, patch-coverage

♻️ refactor(infra): create discovery clients via aiobotocore
  src/zae_limiter/infra/discovery.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🔥 deps(repository): drop unmaintained aioboto3
  pyproject.toml
  scripts/generate_sync.py
  src/zae_limiter/infra/lambda_builder.py
  src/zae_limiter_provisioner/applier.py
  tests/fixtures/capacity.py
  tests/integration/test_lambda_builder.py
  tests/unit/test_lambda_builder.py
  uv.lock
Due: patch-coverage

🐛 test(infra): fix discovery tagging-API mocks for aiobotocore
  tests/unit/test_discovery.py
Due: verify-sync-generated

📝 docs(ci): clarify transformer comments post-aiobotocore
  scripts/generate_sync.py
  tests/fixtures/capacity.py
Due: none

✅ test(repository): cover STS session creation on aiobotocore path
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

📝 docs(migrations): port namespace-keys example to aiobotocore
  docs/migrations/namespace-keys.md
Due: none

add Benchmark (pytest) benchmark result for 4f7cd028c4577e8c63f0f8db5ae9e35b1e6fa833
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 4f7cd028c4577e8c63f0f8db5ae9e35b1e6fa833
  benchmarks/moto/data.js
Due: none

♻️ refactor(infra): drop unmaintained aioboto3 for aiobotocore
  docs/migrations/namespace-keys.md
  pyproject.toml
  scripts/generate_sync.py
  src/zae_limiter/infra/discovery.py
  src/zae_limiter/infra/lambda_builder.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/repository.py
  src/zae_limiter_provisioner/applier.py
  tests/fixtures/capacity.py
  tests/integration/test_lambda_builder.py
  tests/unit/test_discovery.py
  tests/unit/test_lambda_builder.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
  uv.lock
Due: verify-sync-generated, patch-coverage

🐛 fix(ci): strip ordering markers from changelog section headers
  cliff.toml
Due: none

🐛 fix(repository): restore slow-path bucket read dropped by shard migration
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✅ test(repository): add LocalStack coverage for slow-path refill recovery
  tests/benchmark/test_localstack.py
  tests/e2e/test_localstack.py
  tests/integration/test_repository.py
Due: none

add Benchmark (pytest) benchmark result for ced59de08fc227d9de9826671d83f4b79b52180f
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for ced59de08fc227d9de9826671d83f4b79b52180f
  benchmarks/localstack/data.js
Due: none

🐛 fix(cli): deploy provisioner Lambda code after stack creation
  src/zae_limiter/cli.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cli.py
  tests/unit/test_repository_builder.py
Due: verify-sync-generated, patch-coverage

✨ feat(models): allow colon character in resource names
  CLAUDE.md
  src/zae_limiter/models.py
  tests/unit/test_models.py
Due: patch-coverage

✅ test(cli): cover provisioner deployment failure and --no-wait paths
  tests/unit/test_cli.py
Due: none

📝 docs(limiter): add implementation plan for resource and entity disable
  docs/plans/2026-08-30-resource-disable-plan.md
Due: none

📝 docs(adr): add ADR-125 for resource and entity disable
  docs/adr/125-resource-disable.md
Due: none

✨ feat(schema): add tri-state disabled attribute codec
  src/zae_limiter/schema.py
  tests/unit/test_disable.py
Due: patch-coverage

✨ feat(exceptions): add ResourceDisabled for disabled resources
  docs/api/exceptions.md
  src/zae_limiter/__init__.py
  src/zae_limiter/exceptions.py
  tests/unit/test_exceptions.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for ccc2e88e1b8f3b19e67bfb6475a5fa0aab4681eb
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for ccc2e88e1b8f3b19e67bfb6475a5fa0aab4681eb
  benchmarks/moto/data.js
Due: none

✨ feat(repository): store and preserve tri-state disabled on config items
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_disable.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): resolve disabled via independent three-level walk
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): add eager disable fan-out and disable/enable API
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): honor per-resource entity overrides in unscoped disable fan-out
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_disable.py
Due: verify-sync-generated, patch-coverage
