Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

✅ test(aggregator): cover an undecodable per-limit schedule override
  tests/unit/test_processor.py
Due: none

✨ feat(models): carry a schedule on Limit and persist it
  CLAUDE.md
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 8984e6b0f8c66b0ee3cc025224ed1979daf7cdbc
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 8984e6b0f8c66b0ee3cc025224ed1979daf7cdbc
  benchmarks/localstack/data.js
Due: none

📝 docs(models): correct the 1 KB size claim and bind #508 to Task 13
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
  docs/plans/2026-09-13-scheduled-limits-design.md
Due: none

add Benchmark (pytest) benchmark result for 49a142577a64f22f5fcd0c719fdbc1251898d8dc
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 49a142577a64f22f5fcd0c719fdbc1251898d8dc
  benchmarks/localstack/data.js
Due: none

🐛 fix(ci): abort sync codegen on dropped asyncio.gather keywords
  CLAUDE.md
  scripts/generate_sync.py
  tests/unit/test_generate_sync.py
Due: none

add Benchmark (pytest) benchmark result for 3601df0a6aeec863d2a743eee0baf8321c054be1
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 3601df0a6aeec863d2a743eee0baf8321c054be1
  benchmarks/moto/data.js
Due: none

♻️ refactor(models): make effective bucket params a function of time
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_bucket.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): pin the clock on every drifting read-back (#503)
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

📝 docs(limiter): expand the five compressed surface-plan tasks
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

add Benchmark (pytest) benchmark result for 14c33e9aed32677c861b7ac7d73c4322831156ba
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 14c33e9aed32677c861b7ac7d73c4322831156ba
  benchmarks/moto/data.js
Due: none

📝 docs(models): §4.1 no longer claims a version marker exists
  docs/plans/2026-09-13-scheduled-limits-design.md
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

add Benchmark (pytest) benchmark result for 268ca2ca72ce34ccfcb098c9119be92790e104ae
  benchmarks/localstack/data.js
Due: none

✨ feat(repository): gate the fast path on the schedule valid-until stamp
  CLAUDE.md
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 268ca2ca72ce34ccfcb098c9119be92790e104ae
  benchmarks/moto/data.js
Due: none

📝 docs(limiter): add utilization-adaptive limits design
  docs/plans/2026-09-14-adaptive-limits-design.md
Due: none

add Benchmark (pytest) benchmark result for a8b0b5e545bb30f788c06b3316ba4d506e02300d
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for a8b0b5e545bb30f788c06b3316ba4d506e02300d
  benchmarks/localstack/data.js
Due: none

🐛 fix(models): report the scheduled, per-shard capacity in rejections
  CLAUDE.md
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_models.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 6bae33f8d90b0a6341b3b6486f01840fe944c485
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 6bae33f8d90b0a6341b3b6486f01840fe944c485
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for a17720d80281d9b5df0d5a570655dea68e5ab47e
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for a17720d80281d9b5df0d5a570655dea68e5ab47e
  benchmarks/localstack/data.js
Due: none

🔧 chore(ci): make bug fixes reachable from the changelog
  .claude/rules/commits.md
  cliff.toml
Due: none

🐛 fix(ci): keep [remote.github] from swallowing the [git] tail
  cliff.toml
Due: none

add Benchmark (pytest) benchmark result for d08f3ca2691ce68276ec716b319759821c2db4e1
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d08f3ca2691ce68276ec716b319759821c2db4e1
  benchmarks/moto/data.js
Due: none

✨ feat(lease): materialise tokens and the next boundary on the slow path
  CLAUDE.md
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for bc00118cbd401b0a821ce96bd1584b5623358e5a
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for bc00118cbd401b0a821ce96bd1584b5623358e5a
  benchmarks/moto/data.js
Due: none

📝 docs(models): record what a calendar reset means
  docs/adr/137-reset-replaces-drip.md
  docs/adr/138-fixed-reset-windows-only.md
Due: none

add Benchmark (pytest) benchmark result for c881d16c4c4e4593510da2c6a46d77182148472a
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for c881d16c4c4e4593510da2c6a46d77182148472a
  benchmarks/moto/data.js
Due: none

🐛 fix(lease): clear `vu` when nothing on the bucket item is scheduled
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(aggregator): pin `vu` so a pre-fan-out image cannot refill
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

✨ feat(repository): stamp schedules onto buckets and force one pass
  CLAUDE.md
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_provisioner/bucket_sync.py
  tests/benchmark/test_capacity.py
  tests/unit/test_limiter.py
  tests/unit/test_provisioner_bucket_sync.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
