Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

📝 docs(claude): add the session-quota developer reference
  CLAUDE.md
Due: none

📝 docs(models): give every LimitStatus field an attribute docstring
  src/zae_limiter/models.py
Due: patch-coverage

📝 docs(repository): give the right reason the shard-0 window read is 1 RCU
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(guide): state what an un-upgraded fleet does with a session quota
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/api/models.md
  docs/guide/session-quotas.md
  docs/performance.md
Due: none

add Benchmark (pytest) benchmark result for e3c7dfe5008bdce4df3061d99dfa4f3335c629c6
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for e3c7dfe5008bdce4df3061d99dfa4f3335c629c6
  benchmarks/localstack/data.js
Due: none

🐛 fix(repository): build expression tokens from an index, never a limit name
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_aggregator/processor.py
  tests/integration/test_limit_name_tokens.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_processor.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(repository): record that expression tokens are positional
  .claude/rules/dynamodb-patterns.md
  CLAUDE.md
  docs/contributing/architecture.md
Due: none

🐛 fix(limiter): route slow-path commit errors through on_unavailable
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 3842e80bdb892329d0b12d0999842575a6104e20
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 3842e80bdb892329d0b12d0999842575a6104e20
  benchmarks/moto/data.js
Due: none

🐛 fix(lease): report a failed retry's real wait, not 0.0
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): seed a limit added to an existing bucket
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/benchmark/test_capacity.py
  tests/integration/test_limit_added_to_existing_bucket.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): record how a limit added to an existing bucket is seeded
  CLAUDE.md
  docs/guide/basic-usage.md
Due: none

🐛 fix(repository): judge a quota seed by surplus held, not by tc
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): seed on the retry only a debited, unscheduled limit
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): never report an exceeded retry status as a 0.0 wait
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): correct the seed rules and costs for #633
  CLAUDE.md
  docs/guide/basic-usage.md
Due: none

🐛 fix(lease): pin a quota seed to the shard count it was sized for
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): persist a transfer seed that its pass does not write
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/integration/test_limit_added_to_existing_bucket.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): record the seed pin, persist and remaining residual
  CLAUDE.md
Due: none

🐛 fix(limiter): skip a transfer persist when rf trails the reset edge
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): state the persist gate and both residual sources
  .claude/rules/write-on-enter.md
  CLAUDE.md
Due: none

add Benchmark (pytest) benchmark result for 85fb1bbfe7ed16f17dd0e3e282278f4462d40791
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 85fb1bbfe7ed16f17dd0e3e282278f4462d40791
  benchmarks/moto/data.js
Due: none

✨ feat(repository): gate reset_after writes on reader versions
  src/zae_limiter/cli.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  src/zae_limiter/version.py
  tests/doctest/conftest.py
  tests/unit/test_bucket_ttl.py
  tests/unit/test_cli.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
  tests/unit/test_version.py
Due: verify-sync-generated, patch-coverage

✨ feat(provisioner): gate reset_after manifests on reader versions
  src/zae_limiter/infra/provisioner_builder.py
  src/zae_limiter_provisioner/applier.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_applier.py
  tests/unit/test_provisioner_builder.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

📝 docs(limiter): record the reset_after version gate and its holes
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/guide/session-quotas.md
  docs/migrations.md
  docs/operations/version.md
Due: none

✅ test(limiter): bound session first uses from below, not above
  tests/e2e/test_session_quotas.py
Due: none

🐛 fix(version): parse PEP 440 pre-releases and local labels
  src/zae_limiter/version.py
  tests/unit/test_version.py
Due: patch-coverage

🐛 fix(cli): stop limits commands when opening the stack fails
  src/zae_limiter/limits_cli.py
  tests/unit/test_limits_cli.py
Due: patch-coverage

✨ feat(repository): earn the lambda_version stamp, gate overrides
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  src/zae_limiter/version.py
  src/zae_limiter_provisioner/applier.py
  tests/doctest/conftest.py
  tests/fixtures/moto.py
  tests/unit/conftest.py
  tests/unit/test_applier.py
  tests/unit/test_bucket_ttl.py
  tests/unit/test_cli.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
  tests/unit/test_version.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): match the reset_after gate docs to review fixes
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/guide/session-quotas.md
  docs/operations/version.md
Due: none

✨ feat(cli): stamp a no-aggregator redeploy after probing for one
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/version.py
  tests/unit/test_applier.py
  tests/unit/test_cli.py
  tests/unit/test_repository.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_repository.py
  tests/unit/test_sync_stack_manager.py
  tests/unit/test_version.py
Due: verify-sync-generated, patch-coverage

✨ feat(cli): report a too-old client in check and version
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

✨ feat(limiter): ask the backend about overrides only with reset_after
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): make re-running deploy the documented way out again
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/guide/session-quotas.md
  docs/operations/version.md
Due: none

✅ test(repository): pin the override gate's no-reset_after fast exit
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

✨ feat(cli): rule out an old provisioner before claiming a stamp
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/version.py
  tests/unit/test_cli.py
  tests/unit/test_repository.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_repository.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): say deploy must keep the provisioner to clear a stamp
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/guide/session-quotas.md
  docs/operations/version.md
Due: none
