Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

✨ feat(models): detect reset edges and fold them into vu
  CLAUDE.md
  src/zae_limiter/schedule.py
  tests/unit/test_schedule_boundary.py
  tests/unit/test_schedule_oracle.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for fcc9ac3e5f5ffb50ac524f8c76e0b52468a4dbf6
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for fcc9ac3e5f5ffb50ac524f8c76e0b52468a4dbf6
  benchmarks/moto/data.js
Due: none

🐛 fix(schema): give a quota a bucket TTL that does not divide by the rate
  CLAUDE.md
  src/zae_limiter/infra/lambda_builder.py
  src/zae_limiter/infra/provisioner_builder.py
  src/zae_limiter/schema.py
  tests/unit/test_bucket_ttl.py
Due: patch-coverage

✨ feat(provisioner): stamp manifest schedules onto live buckets
  src/zae_limiter_provisioner/bucket_sync.py
  src/zae_limiter_provisioner/manifest.py
  tests/unit/test_provisioner_bucket_sync.py
Due: patch-coverage

🐛 fix(provisioner): store manifest schedules on the config item
  src/zae_limiter_provisioner/applier.py
  tests/unit/test_applier.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 1df7de34f8e34aa80c514334e2f0cff775cee420
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 1df7de34f8e34aa80c514334e2f0cff775cee420
  benchmarks/moto/data.js
Due: none

✨ feat(cli): round-trip schedules through CloudFormation
  src/zae_limiter/limits_cli.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_limits_cli.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for c9d699b6b1dca23cd12c63d87d5f485a4fbe6459
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for c9d699b6b1dca23cd12c63d87d5f485a4fbe6459
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 11c7f329bd7092b557036314ecbad70465aba83d
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 11c7f329bd7092b557036314ecbad70465aba83d
  benchmarks/localstack/data.js
Due: none

✨ feat(cli): show schedules in get-limits output
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

✨ feat(limiter): reset the balance at a calendar edge
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_limiter.py
  tests/unit/test_processor.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(provisioner): manifests can express a schedule now
  src/zae_limiter_provisioner/bucket_sync.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 023a6ca52cbf908e86f49a60f77bc47b3829d599
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 023a6ca52cbf908e86f49a60f77bc47b3829d599
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 58990d5241c3ed662286d5f1b413111a1a4360fe
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 58990d5241c3ed662286d5f1b413111a1a4360fe
  benchmarks/localstack/data.js
Due: none

🐛 fix(ci): give /issue a comment mode instead of falling through to edit
  .claude/skills/issue/SKILL.md
  .claude/skills/issue/comment.md
Due: none

✨ feat(limiter): walk schedule boundaries for a retry estimate
  src/zae_limiter/schedule.py
  tests/unit/test_schedule_boundary.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 8ea560659912b358403158a4ad8fe3fecb097b39
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for d9be9b9cc21fe622754600d2366d1a7a22ca0c5e
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d9be9b9cc21fe622754600d2366d1a7a22ca0c5e
  benchmarks/moto/data.js
Due: none

🐛 fix(models): reconstruct a quota bucket as a quota
  src/zae_limiter/models.py
  tests/unit/test_models.py
Due: patch-coverage

✨ feat(limiter): compute retry_after across schedule boundaries
  CLAUDE.md
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/schedule.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_bucket.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): decode stored schedules off bucket items
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): fail safe on an unreadable stored schedule
  docs/plans/2026-09-13-scheduled-limits-design.md
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_schedule_failure.py
  tests/unit/test_repository.py
  tests/unit/test_schedule_encoding.py
  tests/unit/test_schedule_failure.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(provisioner): coerce CloudFormation's stringified scalars
  src/zae_limiter_provisioner/handler.py
  tests/fixtures/cfn_payloads.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

✅ test(provisioner): cover every branch of the CFN scalar coercion
  tests/unit/test_provisioner_handler.py
Due: none

add Benchmark (pytest) benchmark result for cf6155ca32cbefe8dcbdd7efbecab6bbcd42a9b1
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for cf6155ca32cbefe8dcbdd7efbecab6bbcd42a9b1
  benchmarks/moto/data.js
Due: none

✅ test(repository): cover the unscheduled re-raise branch
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

✅ test(provisioner): drive a stringified CFN payload to DynamoDB
  tests/integration/test_provisioner.py
  tests/unit/test_provisioner_handler.py
Due: none

✅ test(test): locate schedule.py without a second import form
  tests/unit/test_schedule_encoding.py
Due: none

add Benchmark (pytest) benchmark result for 75612241c400fb4088a2df38c7f50bb7cce41d94
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 75612241c400fb4088a2df38c7f50bb7cce41d94
  benchmarks/moto/data.js
Due: none

🐛 fix(models): reject non-finite schedule modifiers at construction
  src/zae_limiter/schedule.py
  tests/unit/test_schedule.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for b736e428682b419a7b6bba75d77d6a2c8633f82d
  benchmarks/moto/data.js
Due: none

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
