Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

🐛 fix(limiter)!: entity `_default_` limits are custom config for bucket TTL
  CLAUDE.md
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 4e09a80245961466b9c36c2fc571dbdd145ac48d
  benchmarks/moto/data.js
Due: none

📝 docs(adr): extend ADR-136 to supersede ADR-118's TTL clause
  docs/adr/118-four-level-config-hierarchy.md
  docs/adr/136-entity-config-bucket-ttl.md
Due: none

add Benchmark (pytest) benchmark result for 4e09a80245961466b9c36c2fc571dbdd145ac48d
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for f24632ed7318afab9da9ee48f51c31c0186be040
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for f24632ed7318afab9da9ee48f51c31c0186be040
  benchmarks/moto/data.js
Due: none

✅ test(limiter): stamp the parent-only TTL precondition directly
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for 47d8aa6c57c9aee90ea1671836f3c055a201db44
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 47d8aa6c57c9aee90ea1671836f3c055a201db44
  benchmarks/moto/data.js
Due: none

👷 fix(ci): upload coverage even when tests fail
  .github/workflows/ci-tests.yml
  .github/workflows/docs.yml
  codecov.yml
Due: none

🐛 fix(bucket): clamp tokens on every refill path, unconditionally
  CLAUDE.md
  docs/performance.md
  src/zae_limiter/bucket.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_bucket.py
Due: patch-coverage

🐛 fix(aggregator): apply negative refill deltas to trim a surplus
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

✨ feat(limiter): answer capacity and wait from one shard-aware snapshot
  CLAUDE.md
  docs/guide/basic-usage.md
  docs/guide/llm-integration.md
  docs/performance.md
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(plans): the non-consuming query is adopted, and §7 must reach it
  docs/plans/2026-09-13-scheduled-limits-design.md
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

add Benchmark (pytest) benchmark result for 2ceee90f3ae2492fb3babf65b76800f3ce5a4d3a
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 2ceee90f3ae2492fb3babf65b76800f3ce5a4d3a
  benchmarks/moto/data.js
Due: none

✨ feat(models): add ScheduleEntry and cron parsing
  .pre-commit-config.yaml
  pyproject.toml
  src/zae_limiter/schedule.py
  tests/unit/test_schedule.py
  uv.lock
Due: patch-coverage

✨ feat(models): match cron patterns as windows, not fire times
  src/zae_limiter/schedule.py
  tests/unit/test_schedule_oracle.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for b284a735112db5aab796075f049c296c4469842e
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for b284a735112db5aab796075f049c296c4469842e
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 51bebc3d9f802c2a135e66786f5fe5abe459d152
  benchmarks/moto/data.js
Due: none

📝 docs(plans): write vu = 0 on every fan-out, not only scheduled ones
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
Due: none

add Benchmark (pytest) benchmark result for 51bebc3d9f802c2a135e66786f5fe5abe459d152
  benchmarks/localstack/data.js
Due: none

✨ feat(models): resolve effective limit params from a schedule
  src/zae_limiter/schedule.py
  tests/unit/test_schedule.py
Due: patch-coverage

📝 docs(plans): restore the vu = 0 write the last edit deleted
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
Due: none

add Benchmark (pytest) benchmark result for e65c8db09f5e5f37c5f6bc8eba86d2cf4725f430
  benchmarks/moto/data.js
Due: none

📝 docs(models): make next_boundary call sites match its signature
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
  docs/plans/2026-09-13-scheduled-limits-design.md
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

add Benchmark (pytest) benchmark result for e65c8db09f5e5f37c5f6bc8eba86d2cf4725f430
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 15974744a5327f01cc34305ae6a1f1e2cc6942e6
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 15974744a5327f01cc34305ae6a1f1e2cc6942e6
  benchmarks/moto/data.js
Due: none

✨ feat(models): compute the next schedule boundary by scanning
  src/zae_limiter/schedule.py
  tests/unit/test_schedule_boundary.py
Due: patch-coverage

✅ test(limiter): pin the clock on cascade read-back assertions
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for 1f6349606bf0a27583e001e1bb76e46df5231b8a
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 1f6349606bf0a27583e001e1bb76e46df5231b8a
  benchmarks/moto/data.js
Due: none

🐛 fix(models): reject cron expressions that are not five fields
  src/zae_limiter/schedule.py
  tests/unit/test_schedule.py
  tests/unit/test_schedule_encoding.py
Due: patch-coverage

✨ feat(schema): compact storage encoding for schedules
  src/zae_limiter/schedule.py
  tests/unit/test_schedule_encoding.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for d2ac517b80226c0aeab9e9cf73b20ef354a58398
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for d2ac517b80226c0aeab9e9cf73b20ef354a58398
  benchmarks/localstack/data.js
Due: none

✨ feat(infra): vendor schedule.py into both Lambda packages
  CLAUDE.md
  src/zae_limiter/infra/lambda_builder.py
  src/zae_limiter/infra/provisioner_builder.py
  tests/fixtures/lambda_packages.py
  tests/unit/test_lambda_builder.py
  tests/unit/test_provisioner_builder.py
Due: patch-coverage

✨ feat(aggregator): refill at the scheduled rate and re-stamp vu
  src/zae_limiter/schema.py
  src/zae_limiter_aggregator/processor.py
  tests/integration/test_bucket_refill.py
  tests/unit/test_processor.py
Due: patch-coverage
