Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

📝 docs(models): record the quota factory and the YAML rate default
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

📝 docs(models): correct ADR-138's reason for excluding rolling windows
  docs/adr/138-fixed-reset-windows-only.md
Due: none

add Benchmark (pytest) benchmark result for 8f5c091a9bad950cd6ad8bc3269140a2c94912be
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 8f5c091a9bad950cd6ad8bc3269140a2c94912be
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for cccb616904ab805e77bd6a06ef7b431c8e08a1c0
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for cccb616904ab805e77bd6a06ef7b431c8e08a1c0
  benchmarks/moto/data.js
Due: none

📝 docs(models): reconcile the surface plan with ADR-137 and ADR-138
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

📝 docs(guide): add the scheduled (cron) limits user guide
  docs/guide/scheduled-limits.md
  mkdocs.yml
Due: none

📝 docs(guide): document the five-field requirement and Sunday equivalence
  docs/guide/scheduled-limits.md
Due: none

add Benchmark (pytest) benchmark result for 981859a3af27e7b3d3451537222241b222910993
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 981859a3af27e7b3d3451537222241b222910993
  benchmarks/localstack/data.js
Due: none

✨ feat(models): add Limit.quota and reset_schedule for quotas
  src/zae_limiter/models.py
  src/zae_limiter/schedule.py
  tests/unit/test_models.py
  tests/unit/test_schedule.py
Due: patch-coverage

🐛 fix(bucket): report the reset instant as a quota's retry after
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_bucket.py
Due: verify-sync-generated, patch-coverage

📝 docs(models): tell Task 12 which audience gets the reasoning
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

📝 docs(models): settle Task 5's reset-edge ordering against ADR-137
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

📝 docs(guide): write quotas with Limit.quota and name the period
  docs/guide/scheduled-limits.md
Due: none

📝 docs(guide): correct the timezone, cron, CLI and boundary-cost claims
  docs/guide/scheduled-limits.md
Due: none

📝 docs(guide): do not claim a manifest timezone check that is unspecified
  docs/guide/scheduled-limits.md
Due: none

add Benchmark (pytest) benchmark result for 7614e2282140383e23d364420efc633417f708df
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2592f5953b8379d3bb876982415d51bde5531533
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2592f5953b8379d3bb876982415d51bde5531533
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 44e247fef3cfd56e8aee9f7a290a24e5e48f0f32
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 44e247fef3cfd56e8aee9f7a290a24e5e48f0f32
  benchmarks/localstack/data.js
Due: none

♻️ refactor(models): name the "this limit has no refill" case
  src/zae_limiter/bucket.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_models.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): export ScheduleEntry from the package root
  CLAUDE.md
  src/zae_limiter/__init__.py
  tests/unit/test_public_api.py
Due: patch-coverage

✅ test(test): put ScheduleEntry in the doc-example globals
  tests/doctest/conftest.py
Due: none

add Benchmark (pytest) benchmark result for 4fe80ccd23b4f62c24d376b7f27e10e5cc4b88f0
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 4fe80ccd23b4f62c24d376b7f27e10e5cc4b88f0
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for eac48a0ec3e1a16b02c1eea669822b1983557a57
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for eac48a0ec3e1a16b02c1eea669822b1983557a57
  benchmarks/localstack/data.js
Due: none

🐛 fix(cli): render a quota as an allowance, not a zero rate
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

🐛 fix(repository): persist a quota's reset schedule on config items
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schedule.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_models.py
  tests/unit/test_repository.py
  tests/unit/test_schedule_encoding.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): stamp reset schedules onto bucket items
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_provisioner/bucket_sync.py
  tests/unit/test_models.py
  tests/unit/test_provisioner_bucket_sync.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(schema): document the rsched attribute and the shared sched_tz
  CLAUDE.md
Due: none

✨ feat(provisioner): parse schedules from the limits manifest
  src/zae_limiter_provisioner/manifest.py
  tests/unit/test_provisioner_manifest.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 43bb21100ab2aa08d6df136dff277eb5cd7bb00b
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 43bb21100ab2aa08d6df136dff277eb5cd7bb00b
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 30d39e86d940e76276b9ea6635c4b4d95675472e
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 30d39e86d940e76276b9ea6635c4b4d95675472e
  benchmarks/localstack/data.js
Due: none

🐛 fix(limiter): probe local unit starts in the boundary scan
  src/zae_limiter/schedule.py
  tests/unit/test_schedule_boundary.py
Due: patch-coverage
