Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

✅ test(lease): build the cancelled-transaction double without a type ignore
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

📝 docs(adr): recount the shard-create cost and state the real capacity bound
  CLAUDE.md
  docs/adr/133-client-shard-creation.md
  docs/performance.md
Due: none

🐛 fix(limiter): never admit a cascading child from a child-only retry
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): never adopt a lower shard_count from a lost bump
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): keep ADR-133 within the 100-line format cap
  docs/adr/133-client-shard-creation.md
Due: none

✅ test(integration): mark the client shard-creation tests as integration
  tests/integration/test_bucket_sharding.py
Due: none

✅ test(repository): pin the uncached path of _learn_shard_count
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

🐛 fix(lease): downgrade a re-issued Put that loses the create race
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): reuse the judged parent shard on the parent-only slow path
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✅ test(lease): give mock bucket states the per-shard refill fields
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

⚡ perf(limiter): keep fast rejection for a sharded cascading child
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✅ test(lease): pin the no-op retry when a lost lock consumed nothing
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

✅ test(limiter): make the cascade retry test's child refill able to help
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(limiter): report per-shard refill and sum shards in available()
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): cover the other-resource filter in available()
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(limiter): create a missing parent shard where the fast path looked
  src/zae_limiter/limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🔧 chore(sync): regenerate sync code after rebasing onto main
  src/zae_limiter/sync_limiter.py
Due: patch-coverage

✨ feat(limiter): refill wcu on the slow path and cap shard_count
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): keep the wcu carrier out of the lease's entries
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): propagate a won shard bump to the existing shards
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): report the effective per-shard limit on rejection
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_bucket.py
  tests/unit/test_limiter.py
  tests/unit/test_models.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): document the per-shard request ceiling
  docs/adr/133-client-shard-creation.md
  docs/performance.md
Due: none

✅ test(benchmark): assert available()'s shard-aware read pattern
  tests/benchmark/test_capacity.py
Due: none

🔒 security(repository): keep entity ids out of the shard-cap warning
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs: record client shard propagation and per-shard reporting
  CLAUDE.md
Due: none

🔥 remove(repository): drop the unreachable high-shard-count warning
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): record random shard selection as a decision (ADR-134)
  CLAUDE.md
  docs/adr/134-random-shard-selection.md
  mkdocs.yml
Due: none

🔒 security(repository): sync limit changes to every bucket shard
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs: record that limit changes fan out to all shards
  CLAUDE.md
Due: none

📝 docs(adr): accept ADR-133 and ADR-134
  docs/adr/133-client-shard-creation.md
  docs/adr/134-random-shard-selection.md
Due: none

add Benchmark (pytest) benchmark result for f2470e5bf7756a2161fb39151fbcdfe5a21d726f
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 697301e698155040178e35f89977ddcecebdd30d
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 697301e698155040178e35f89977ddcecebdd30d
  benchmarks/moto/data.js
Due: none

🔒 security(limiter): shard the cascade parent on the fast path
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): cover cascade parent shard selection on LocalStack
  CLAUDE.md
  tests/integration/test_bucket_sharding.py
Due: none

🔒 security(limiter): never double the parent on a rejection
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🔒 security(limiter): only hint a MISSING parent shard to the slow path
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🔒 security(repository): keep the parent's cascade metadata on learn
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

⚡ perf(limiter): skip the parent-only try on a brand-new shard
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🔒 security(limiter): handle a cold-cache cascade like the warm path
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
