Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

✅ test(repository): hold I8 and the rejection cache across reset and top-up
  tests/unit/test_quota_conservation_fuzz.py
  tests/unit/test_rejection_cache.py
Due: none

✅ test(limiter): cover the namespace discovery pages and soft stamp errors
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_soft_limits.py
Due: verify-sync-generated, patch-coverage

✨ feat(cli): add `entity set-parent` to move an entity
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

📝 docs: document moving an entity to a new parent
  CLAUDE.md
  docs/cli.md
  docs/guide/hierarchical.md
  docs/infra/auditing.md
Due: none

✅ test(repository): a reset leaves a limit no longer configured alone
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

✨ feat(cli): add entity reset and entity top-up
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

📝 docs: document reset and top-up for an entity's bucket
  CLAUDE.md
  docs/cli.md
  docs/guide/reset-and-top-up.md
  docs/infra/auditing.md
  docs/operations/rate-limits.md
  mkdocs.yml
Due: none

✨ feat(limiter): bypass an entity or resource, admitting without debiting
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  src/zae_limiter_provisioner/fanout.py
  src/zae_limiter_provisioner/handler.py
  tests/benchmark/test_capacity.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_bypass.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_provisioner_fanout.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): make a refund trim itself in the same write
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs: record the self-trimming credit in the writer table
  .claude/rules/write-on-enter.md
  CLAUDE.md
Due: none

✅ test(limiter): follow the bypass stamp in the disable fan-out expectations
  tests/unit/test_limiter.py
  tests/unit/test_provisioner_handler.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(limiter): debit the item's parent after refunding the cached one
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_set_parent.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): a parent the child has left cannot disable it
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_set_parent.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): start an entity's parent generation at its creation instant
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_set_parent.py
Due: verify-sync-generated, patch-coverage

✅ test(lease): cover a rollback that skips a bucket item it never debited
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(repository): leave resource-decided buckets alone on a system soft change
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_soft_limits.py
Due: verify-sync-generated, patch-coverage

✨ feat(provisioner): carry soft limits and bypass through manifests and CloudFormation
  src/zae_limiter/limits_cli.py
  src/zae_limiter_provisioner/applier.py
  src/zae_limiter_provisioner/bucket_sync.py
  src/zae_limiter_provisioner/fanout.py
  src/zae_limiter_provisioner/handler.py
  src/zae_limiter_provisioner/manifest.py
Due: patch-coverage

✨ feat(cli): add --soft and the bypass commands
  src/zae_limiter/cli.py
  tests/unit/test_non_enforcing_surfaces.py
Due: patch-coverage

📝 docs: document soft limits and bypass
  CLAUDE.md
  docs/cli.md
  docs/guide/basic-usage.md
  docs/guide/soft-limits-and-bypass.md
  mkdocs.yml
Due: none

✅ test(provisioner): cover the soft restamp's REMOVE branch and its tokens
  tests/unit/test_non_enforcing_surfaces.py
Due: none

🐛 fix(repository): apply a reset or top-up once when its response is lost
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_repository.py
  tests/unit/test_reset_top_up.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): never fail a reset or top-up after it committed
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_reset_top_up.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): check a created bucket's owner stamp against META
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  tests/benchmark/test_capacity.py
  tests/unit/test_set_parent.py
Due: verify-sync-generated, patch-coverage

🐛 fix(aggregator): restamp Path 2 clones a parent move overtook
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_set_parent.py
Due: patch-coverage

🐛 fix(repository): let a session reset end the window, not refill it
  src/zae_limiter/bucket_ops.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_reset_top_up.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✅ test(aggregator): expect the clone owner check's META read
  tests/unit/test_processor.py
Due: none

📝 docs(adr): record the review fixes in ADR-150 and its design
  docs/adr/150-move-entity-to-new-parent.md
  docs/plans/2026-10-09-move-entity-design.md
Due: none

🐛 fix(lease): pin what a refund's ceiling was computed from
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs: record the refund pins in the writer table
  CLAUDE.md
Due: none

🐛 fix(lease): force a clamp for a refund above a quota's grant, ignoring tu
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_reset_top_up.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): correct ADR-149 and its design after the PR #720 review
  docs/adr/149-reset-and-top-up.md
  docs/plans/2026-10-09-reset-and-top-up-design.md
Due: none

🐛 fix(limiter): treat a transaction conflict on the fast path as contention
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): describe transaction-conflict handling on the fast path
  CLAUDE.md
Due: none

👷 ci: run Tests, Lint and Docs on pull requests into any branch
  .github/workflows/ci-lint.yml
  .github/workflows/ci-tests.yml
  .github/workflows/docs.yml
Due: none

✅ test(lease): cover the owner check on a backend without it
  tests/unit/test_set_parent.py
Due: none

add Benchmark (pytest) benchmark result for be749ac1b9c51a4e60589241b33d64a7cb4edb20
  benchmarks/moto/data.js
Due: none

📝 docs: describe the reviewed reset and top-up behaviour
  CLAUDE.md
  docs/cli.md
  docs/guide/reset-and-top-up.md
Due: none

add Benchmark (pytest) benchmark result for be749ac1b9c51a4e60589241b33d64a7cb4edb20
  benchmarks/localstack/data.js
Due: none

📝 docs: record the owner check and creation generation in CLAUDE.md
  CLAUDE.md
Due: none

🐛 fix(limiter): make speculative compensation best-effort
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage
