Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

📝 docs(plans): plan rejecting disabled on system in a manifest
  docs/plans/2026-10-06-693-system-disabled-plan.md
Due: none

🐛 fix(provisioner): reject disabled on system in a limits manifest
  src/zae_limiter/limits_cli.py
  src/zae_limiter_provisioner/handler.py
  src/zae_limiter_provisioner/manifest.py
  tests/unit/test_limits_cli.py
  tests/unit/test_provisioner_handler.py
  tests/unit/test_provisioner_manifest.py
Due: patch-coverage

🐛 fix(limiter): never refill from the cache past a cascade it cannot see
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

📝 docs: say a manifest rejects disabled on system
  CLAUDE.md
  docs/cli.md
  docs/infra/deployment.md
Due: none

🐛 fix(limiter): pin each cached balance on the refill-from-cache write
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): pin shard_count on the refill-from-cache write
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

📝 docs: rewrap the #693 line in CLAUDE.md's disable section
  CLAUDE.md
Due: none

🐛 fix(limiter): refill from the cache only when config shows no schedule
  src/zae_limiter/config_cache.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_config_cache.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

📝 docs: list every pin of the refill-from-cache write, and require new writers to move one
  .claude/rules/code-review.md
  CLAUDE.md
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
Due: none

✅ test(limiter): pin the rejection cache's clock in the phase-3 tests
  tests/unit/test_rejection_cache.py
Due: none

add Benchmark (pytest) benchmark result for 845a8c3a18a0648f3f12352005d8980cc1e698ae
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 845a8c3a18a0648f3f12352005d8980cc1e698ae
  benchmarks/moto/data.js
Due: none

✅ test(limiter): make the phase-3 exclusion tests reach their checks
  tests/unit/test_rejection_cache.py
Due: none

add Benchmark (pytest) benchmark result for 9c9099092e50b5138456f960bf3489254f46f73f
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 9c9099092e50b5138456f960bf3489254f46f73f
  benchmarks/localstack/data.js
Due: none

🐛 fix(limiter): trust "no parent" only from an existing entity record
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): re-check config at least once a window before refilling from the cache
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): prove the disabled and TTL pins of the refill-from-cache write
  tests/unit/test_rejection_cache.py
Due: none

📝 docs: say the rejection cache admits only through a pinned write, and list the floor
  CLAUDE.md
  docs/plans/2026-10-06-rejection-cache-design.md
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): cover the slow-pass cap, an uncached config level and a missing entity
  tests/unit/test_rejection_cache.py
Due: none

🐛 fix(lease): record what the slow path wrote in the rejection cache
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

✅ test(lease): cover recording written states on a backend without the cache
  tests/unit/test_rejection_cache.py
Due: none

🐛 fix(repository): floor every refill-from-cache debit at any sign
  .claude/rules/code-review.md
  CLAUDE.md
  docs/plans/2026-10-06-rejection-cache-design.md
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

⚡ perf(limiter): let refill-from-cache start from a state one slow-pass window old
  CLAUDE.md
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): pin each limit's settings on the refill-from-cache write
  .claude/rules/code-review.md
  CLAUDE.md
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): do not record a written state a refund overtook
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

📝 docs: record that refill-from-cache can credit less than the slow path near capacity
  docs/plans/2026-10-06-rejection-cache-design.md
Due: none

🐛 fix(lease): keep a vu stamp a limit change made during the slow pass
  CLAUDE.md
  src/zae_limiter/lease.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_rejection_cache.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 2422a0642878944e7348e2190805aef425b94c74
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2422a0642878944e7348e2190805aef425b94c74
  benchmarks/localstack/data.js
Due: none

🐛 fix(test): delete the speculative-consume AWS stack, not just its table
  tests/e2e/test_aws.py
Due: none

add Benchmark (pytest) benchmark result for b4bf36a3d939ac93c73660cab12038dc77432b15
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for b4bf36a3d939ac93c73660cab12038dc77432b15
  benchmarks/moto/data.js
Due: none

🔥 remove(limiter): withdraw refill-from-cache, ADR-147 phase 3
  src/zae_limiter/config_cache.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_config_cache.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_rejection_cache.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs: record why ADR-147 phase 3 was withdrawn, and what it would need
  .claude/rules/code-review.md
  CLAUDE.md
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-06-rejection-cache-design.md
  docs/plans/2026-10-07-adr147-phase3-withdrawn.md
Due: none

add Benchmark (pytest) benchmark result for b58c323a13b40b1268d15ecc0f0f6659b2776d9d
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for b58c323a13b40b1268d15ecc0f0f6659b2776d9d
  benchmarks/localstack/data.js
Due: none

🐛 fix(repository): read a just-written cascade policy consistently in the fan-out
  CLAUDE.md
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_provisioner/fanout.py
  tests/unit/test_cascade_policy.py
  tests/unit/test_provisioner_fanout.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): add consistent_read to the protocol's get_entity and resolve_access
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository_protocol.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
