Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

add Benchmark (pytest) benchmark result for 4b9d6d67f662e7584565b519c445d956754df071
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 4b9d6d67f662e7584565b519c445d956754df071
  benchmarks/localstack/data.js
Due: none

🐛 fix(repository): keep rejections fast after a credit above capacity
  CLAUDE.md
  src/zae_limiter/rejection_cache.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 5ce1e96ecfdeced3cfd3570ad61084d8c47dd6b9
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 5ce1e96ecfdeced3cfd3570ad61084d8c47dd6b9
  benchmarks/moto/data.js
Due: none

🐛 fix(limiter): hand control back on a local rejection
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_rejection_cache.py
Due: verify-sync-generated, patch-coverage

📝 docs: tell callers to honour retry_after_seconds now that 429s can be local
  docs/guide/basic-usage.md
Due: none

add Benchmark (pytest) benchmark result for 31354d97cba157942972fa5a2a124f5bbec2e948
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 31354d97cba157942972fa5a2a124f5bbec2e948
  benchmarks/moto/data.js
Due: none

📝 docs: correct v0.16.0 cost claims and list the rejection cache's known behaviour
  CLAUDE.md
  docs/adr/147-client-side-rejection-cache.md
  docs/performance.md
  docs/plans/2026-10-06-rejection-cache-design.md
Due: none

add Benchmark (pytest) benchmark result for 2f1bdc394b71e27ca3f225ca63e65aed6034706a
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2f1bdc394b71e27ca3f225ca63e65aed6034706a
  benchmarks/localstack/data.js
Due: none

📝 docs(adr): accept ADR-146 and ADR-147 for v0.16.0
  CLAUDE.md
  docs/adr/112-cascade-per-entity.md
  docs/adr/146-per-resource-cascade-policy.md
  docs/adr/147-client-side-rejection-cache.md
  docs/plans/2026-10-05-cascade-policy-design.md
Due: none

add Benchmark (pytest) benchmark result for ebdb6554b611ef1187031f4873b202c5c78b6a53
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for ebdb6554b611ef1187031f4873b202c5c78b6a53
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 421392713850eee9898fa9f841b814b006641488
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 421392713850eee9898fa9f841b814b006641488
  benchmarks/moto/data.js
Due: none

👷 ci(release): refuse a lightweight release tag, and document annotated tags
  .claude/skills/pr/release-template.md
  .claude/skills/release-prep/SKILL.md
  .github/workflows/release.yml
  CLAUDE.md
Due: none

add Benchmark (pytest) benchmark result for f5d2ee230fedabfeecc91dff14529a11472c79aa
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for f5d2ee230fedabfeecc91dff14529a11472c79aa
  benchmarks/moto/data.js
Due: none

📝 docs(adr): propose ADR-150, move an entity to a new parent
  docs/adr/150-move-entity-to-new-parent.md
  docs/plans/2026-10-09-move-entity-design.md
Due: none

📝 docs(limiter): design multi-resource acquire
  docs/plans/2026-10-09-multi-resource-acquire-design.md
Due: none

📝 docs(adr): propose ADR-148, multi-resource acquire
  docs/adr/148-multi-resource-acquire.md
Due: none

📝 docs(adr): propose ADR-149, immediate reset and top-up
  docs/adr/149-reset-and-top-up.md
  docs/plans/2026-10-09-reset-and-top-up-design.md
Due: none

📝 docs(adr): propose ADR-151, soft limits and bypass
  docs/adr/151-non-enforcing-limits.md
  docs/plans/2026-10-09-non-enforcing-limits-design.md
Due: none

⚡ perf(lease): write reconcile and refund items concurrently
  scripts/generate_sync.py
  src/zae_limiter/_parallel.py
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_parallel_orchestration.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✨ feat(lease): reach each resource of a lease through a handle
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): debit several resources in one acquire, all or none
  scripts/generate_sync.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_multi_resource_acquire.py
  tests/unit/test_sync_multi_resource_acquire.py
Due: verify-sync-generated, patch-coverage

✅ test(benchmark): pin the multi-resource acquire's capacity
  tests/benchmark/test_capacity.py
Due: none

✅ test(lease): keep quota conservation under a mixed multi-resource lease
  tests/unit/test_quota_conservation_fuzz.py
Due: none

✨ feat(models): add soft limits to Limit, BucketState and statuses
  src/zae_limiter/bucket.py
  src/zae_limiter/exceptions.py
  src/zae_limiter/models.py
  src/zae_limiter/schema.py
  src/zae_limiter/version.py
Due: patch-coverage

✨ feat(limiter): enforce soft limits on the server and stamp them on buckets
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/benchmark/test_capacity.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_rejection_cache.py
  tests/unit/test_repository.py
  tests/unit/test_soft_limits.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): move an entity to a new parent
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  src/zae_limiter/version.py
  src/zae_limiter_provisioner/fanout.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_set_parent.py
Due: verify-sync-generated, patch-coverage

✨ feat(aggregator): count soft-limit overdraws in usage snapshots
  src/zae_limiter_aggregator/processor.py
Due: patch-coverage

📝 docs(limiter): document acquiring several resources at once
  .claude/rules/write-on-enter.md
  CLAUDE.md
  docs/api/limiter.md
  docs/guide/multi-resource.md
  mkdocs.yml
Due: none

✨ feat(limiter): let the child's item overrule the cached parent
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_rejection_cache.py
  tests/unit/test_set_parent.py
Due: verify-sync-generated, patch-coverage

✨ feat(models): let a quota's ceiling carry a top-up above its grant
  src/zae_limiter/bucket.py
  src/zae_limiter/models.py
  src/zae_limiter/schema.py
  src/zae_limiter/version.py
  tests/unit/test_models.py
  tests/unit/test_version.py
Due: patch-coverage

✨ feat(aggregator): keep a quota top-up in the ceiling and end it at reset
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

✨ feat(repository): reset and top up an entity's bucket in place
  src/zae_limiter/bucket_ops.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_reset_top_up.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
