Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

✅ test: add PK round-trip and batch size boundary tests (review #34)
  tests/unit/test_processor.py
  tests/unit/test_schema.py
Due: none

♻️ refactor(schema): add gsi4_sk_bucket builder and use in repository
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_schema.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): deduplicate sharded entities in get_resource_capacity
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

⚠️ fix(schema): warn when shard count exceeds WCU_SHARD_WARN_THRESHOLD=32
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
  tests/unit/test_repository.py
  tests/unit/test_schema.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

♻️ refactor(limiter): add SpeculativeFailureReason enum for deterministic shard decisions
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(aggregator): pre-create full shard items during propagation
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

🐛 fix(aggregator): use wcu token level for proactive sharding signal
  src/zae_limiter_aggregator/processor.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_processor.py
Due: patch-coverage

✅ test(repository): add coverage for BOTH_EXHAUSTED speculative failure reason
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

🐛 fix(aggregator): deserialize stream wire format before PutItem in propagation
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 216cce51f80d972779d474b080fc4646104458e4
  benchmarks/localstack/data.js
Due: none

🐛 fix(test): update delete_entity capacity assertions for GSI3 bucket discovery
  tests/benchmark/test_capacity.py
Due: none

add Benchmark (pytest) benchmark result for 481ce44d818d66e31d8837bc48519660ce4c267f
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 481ce44d818d66e31d8837bc48519660ce4c267f
  benchmarks/moto/data.js
Due: none

🐛 fix(cli): use DEFAULT_STACK_NAME constant for --name default
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 49a2c53ee9753a22afda2ffc0c91e4e24940554b
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 49a2c53ee9753a22afda2ffc0c91e4e24940554b
  benchmarks/moto/data.js
Due: none

🐛 fix(infra): pin LocalStack to 4.14 and remove delete_stack workaround
  .github/workflows/ci-tests.yml
  docker-compose.yml
  docs/contributing/localstack.md
  src/zae_limiter/local.py
  tests/benchmark/test_aws.py
  tests/e2e/test_aws.py
  tests/e2e/test_aws_discovery.py
  tests/e2e/test_config_storage.py
  tests/e2e/test_localstack.py
  tests/fixtures/stacks.py
  tests/integration/test_namespace_isolation.py
  tests/unit/test_local.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for 57c9c030b5a8080e3b188a8fb6e8c0b71742a904
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 57c9c030b5a8080e3b188a8fb6e8c0b71742a904
  benchmarks/localstack/data.js
Due: none

📝 docs(adr): add ADR-123 for pre-1.0 local secondary indexes
  docs/adr/123-local-secondary-indexes.md
Due: none

✨ feat(infra): add 5 Local Secondary Indexes to DynamoDB table (ADR-123)
  docs/adr/123-local-secondary-indexes.md
  src/zae_limiter/infra/cfn_template.yaml
  src/zae_limiter/migrations/__init__.py
  src/zae_limiter/migrations/m_0_10_0_lsi.py
  src/zae_limiter/schema.py
  src/zae_limiter/version.py
  tests/unit/test_schema.py
Due: check-aws-partition, patch-coverage

📝 docs(adr): accept ADR-123 local secondary indexes
  docs/adr/123-local-secondary-indexes.md
Due: none

✅ test(infra): update tests for schema version 0.10.0
  tests/unit/test_cli.py
  tests/unit/test_migrations.py
Due: none

🐛 fix(test): use CURRENT_SCHEMA_VERSION constant in E2E CLI test
  tests/e2e/test_localstack.py
Due: none

add Benchmark (pytest) benchmark result for 2cf072a9f397c95cc0ed1a5f7cb8f3017cbdf515
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2cf072a9f397c95cc0ed1a5f7cb8f3017cbdf515
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d82ed0758860829241d41823025923323045da4e
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d82ed0758860829241d41823025923323045da4e
  benchmarks/moto/data.js
Due: none

♻️ refactor(exceptions): zero-based review of exception hierarchy before 1.0.0 (#336)
  .claude/rules/exceptions.md
  CLAUDE.md
  docs/api/exceptions.md
  docs/api/index.md
  docs/operations/index.md
  src/zae_limiter/__init__.py
  src/zae_limiter/cli.py
  src/zae_limiter/exceptions.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_namespace_registry.py
  tests/unit/test_cli.py
  tests/unit/test_exceptions.py
  tests/unit/test_limiter.py
  tests/unit/test_namespace_registry.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

✅ test(exceptions): add coverage for StackOperationError error paths in stack_manager
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated

📝 docs(exceptions): fix stale RateLimitError docstring
  src/zae_limiter/exceptions.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for d847257d4341ae9a516035bdfaaa4a4d4e9ce683
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d847257d4341ae9a516035bdfaaa4a4d4e9ce683
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 6878b6db1be7d462fd0107481ee07801ad641370
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 6878b6db1be7d462fd0107481ee07801ad641370
  benchmarks/moto/data.js
Due: none

♻️ refactor(adr): resolve duplicate ADR-121 by renumbering policy-rename to 124
  docs/adr/124-policy-rename-clarity.md
Due: none

📝 docs(adr): renumber usage-snapshot SK redesign ADR 121 → 125
  docs/adr/125-usage-snapshot-sk-redesign.md
Due: none

📝 docs(adr): renumber multi-region ADRs 123-129 → 126-132
  docs/adr/126-multi-region-independent-tables.md
  docs/adr/127-s3-sync-exchange.md
  docs/adr/128-quota-enforcement-via-config.md
  docs/adr/129-trigger-based-sync-writes.md
  docs/adr/130-per-region-sync-lambda.md
  docs/adr/131-sync-config-ttl.md
  docs/adr/132-sync-config-ownership.md
Due: none

♻️ refactor(adr): resolve inherited duplicate ADR-121 (policy-rename → 124)
  docs/adr/124-policy-rename-clarity.md
Due: none

📝 docs(adr): normalize ADR-121 status header to ADR-000 format
  docs/adr/121-native-sync-unasync.md
Due: none
