Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

📝 docs: record when a parent shard is handed to the slow path
  CLAUDE.md
Due: none

📝 docs(limiter): correct the parent-shard hint docstring
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for dc0f28edf0a76f741eb6f4595c9a69675dd5d08f
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for dc0f28edf0a76f741eb6f4595c9a69675dd5d08f
  benchmarks/localstack/data.js
Due: none

📝 docs(plans): capture the scheduled-limits design so far (#222)
  docs/plans/2026-09-13-scheduled-limits-design.md
Due: none

📝 docs(plans): settle the scheduled-limits design (#222)
  docs/plans/2026-09-13-scheduled-limits-design.md
Due: none

📝 docs(plans): fold the provisioner bucket-sync fix into #222 scope
  docs/plans/2026-09-13-scheduled-limits-design.md
Due: none

📝 docs(plans): implementation plans for #222 scheduled limits
  docs/plans/2026-09-13-provisioner-bucket-sync-plan.md
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

♻️ refactor(limiter): make _now_ms() the single injectable clock seam
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✨ feat(provisioner): build bucket param update expressions
  src/zae_limiter_provisioner/bucket_sync.py
  tests/unit/test_provisioner_bucket_sync.py
Due: patch-coverage

✨ feat(provisioner): fan out bucket param changes to every shard
  src/zae_limiter_provisioner/bucket_sync.py
  tests/unit/test_provisioner_bucket_sync.py
Due: patch-coverage

✨ feat(provisioner): resolve effective limits after a config delete
  src/zae_limiter_provisioner/bucket_sync.py
  tests/unit/test_provisioner_bucket_sync.py
Due: patch-coverage

🐛 fix(provisioner): propagate applied limits to existing buckets
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_provisioner_handler.py
Due: patch-coverage

✨ feat(provisioner): reject non-positive limit values at parse time
  src/zae_limiter_provisioner/manifest.py
  tests/unit/test_provisioner_manifest.py
Due: patch-coverage

✅ test(provisioner): prove a manifest apply reaches live buckets
  tests/e2e/test_localstack.py
Due: none

📝 docs: stop publishing internal planning artefacts
  mkdocs.yml
Due: none

📝 docs(plans): pin the slow path to one clock reading (#430 follow-up)
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
Due: none

✅ test(provisioner): cover the remaining bucket-sync branches
  tests/unit/test_provisioner_bucket_sync.py
  tests/unit/test_provisioner_handler.py
Due: none

📝 docs(plans): warn that the clock seam does not cover the config cache
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
Due: none

📝 docs(repository)!: narrow the _now_ms() contract to what holds
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
Due: verify-sync-generated, patch-coverage

✅ test(lease): stop the mock clock leaking a coroutine
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

✅ test(limiter): pin the clock-reading count on every acquire path
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

✅ test(repository): guard private protocol members against drift
  tests/unit/test_repository_protocol_parity.py
Due: none

💚 fix(test): patch handler boto3 in the bucket-sync handler tests
  tests/unit/test_provisioner_handler.py
Due: none

add Benchmark (pytest) benchmark result for d6bd456f8ad6006dedba572073fc7ad183bdc233
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d6bd456f8ad6006dedba572073fc7ad183bdc233
  benchmarks/moto/data.js
Due: none

📝 docs(plans): expand the thin tasks against post-#430 code
  docs/plans/2026-09-13-scheduled-limits-core-plan.md
  docs/plans/2026-09-13-scheduled-limits-surface-plan.md
Due: none

add Benchmark (pytest) benchmark result for d22199b5ac9b0791dc15781564dea25748848611
  benchmarks/moto/data.js
Due: none

📝 docs(plans): mark the provisioner plan delivered, record the #487 gap
  docs/plans/2026-09-13-provisioner-bucket-sync-plan.md
Due: none

add Benchmark (pytest) benchmark result for d22199b5ac9b0791dc15781564dea25748848611
  benchmarks/localstack/data.js
Due: none

🐛 fix(repository): sync buckets when an entity-wide `_default_` limit changes
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_default_scope_limit_sync.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

🐛 fix(provisioner): widen the bucket sync mirror for entity-wide `_default_`
  CLAUDE.md
  src/zae_limiter_provisioner/bucket_sync.py
  src/zae_limiter_provisioner/handler.py
  tests/unit/test_provisioner_bucket_sync.py
Due: patch-coverage

✅ test(repository): cover the resolve-to-nothing branch of the `_default_` sync
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 836fe189f643a8dc1309469ec35a682e2c5b6712
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 836fe189f643a8dc1309469ec35a682e2c5b6712
  benchmarks/moto/data.js
Due: none

📝 docs(adr): supersede ADR-119 on bucket TTL by config source
  docs/adr/119-bucket-ttl-strategy.md
  docs/adr/136-entity-config-bucket-ttl.md
Due: none

📝 docs(adr): accept ADR-136
  docs/adr/136-entity-config-bucket-ttl.md
Due: none

add Benchmark (pytest) benchmark result for a4bde52e53e268c610fc5ac4f630154c33ec9038
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for a4bde52e53e268c610fc5ac4f630154c33ec9038
  benchmarks/moto/data.js
Due: none

🐛 fix(repository): make the bucket-param fan-out expression-safe and bounded
  CLAUDE.md
  src/zae_limiter/exceptions.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
