Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

✅ test(infra): drop the tags-current check LocalStack cannot prove
  tests/e2e/test_upgrade_partial_stacks.py
Due: none

⏪️ revert(infra): resend the stack's template on a tag refresh
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

✅ test(infra): drop the LocalStack tag-warning assertion
  tests/e2e/test_upgrade_partial_stacks.py
Due: none

🐛 fix(cli): refresh stale stack tags when upgrade finds Lambdas current
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

✅ test(infra): check upgrade's stack tag refresh on real AWS
  tests/e2e/test_aws_upgrade_tags.py
  tests/fixtures/stack_tags.py
Due: none

📝 docs(infra): document reusing limits with YAML anchors
  docs/cli.md
  docs/guide/config-hierarchy.md
  docs/infra/deployment.md
Due: none

✅ test(provisioner): pin the documented YAML anchor patterns
  tests/fixtures/manifests.py
  tests/unit/test_limits_cli.py
  tests/unit/test_provisioner_manifest.py
Due: none

add Benchmark (pytest) benchmark result for 28f11c9ad4fb1562af6796c327a197f6ab7d9401
  benchmarks/moto/data.js
Due: none

⬆️ deps: pin ruff 0.16.10 in all five places and the lockfile
  .github/workflows/ci-lint.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

add Benchmark (pytest) benchmark result for 28f11c9ad4fb1562af6796c327a197f6ab7d9401
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d4ca0d4a3db5015ef38ee56f510c13cf192ae88f
  benchmarks/moto/data.js
Due: none

✅ test(loadtest): cover the Lambda worker's run loops and boto3 pool
  tests/unit/loadtest/test_worker.py
Due: none

add Benchmark (pytest) benchmark result for d4ca0d4a3db5015ef38ee56f510c13cf192ae88f
  benchmarks/localstack/data.js
Due: none

✅ test(loadtest): pin the worker's shutdown buffer as a fraction of its time
  tests/unit/loadtest/test_worker.py
Due: none

✅ test(loadtest): fall back to a UUID worker id for a context without a request id
  tests/unit/loadtest/test_worker.py
Due: none

✅ test(loadtest): clear LOCUST_USER_CLASSES in the locustfile precedence test
  tests/unit/loadtest/test_worker.py
Due: none

add Benchmark (pytest) benchmark result for 536d91c342d0dfca159ae4c6fa4c9a3c99d8b998
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 536d91c342d0dfca159ae4c6fa4c9a3c99d8b998
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for f661cbd4ee2a72b9107aa83f05e59cb7fab9c135
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for f661cbd4ee2a72b9107aa83f05e59cb7fab9c135
  benchmarks/moto/data.js
Due: none

✅ test(lease): pin that a credit above capacity is never spent
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(lease): trim a credit above capacity before the fast path spends it
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_bucket_writer_registry.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(claude): add the post-credit clamp to the writer table
  CLAUDE.md
Due: none

🐛 fix(aggregator): keep the fast path shut over a quota above its ceiling
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

🐛 fix(lease): never let the post-credit check undo a committed lease
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(lease): state when a credit above the ceiling is trimmed
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
Due: verify-sync-generated, patch-coverage

✅ test(lease): cover an overshoot from a fast-path lease
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(aggregator): pin a vu re-stamp on every quota staying within its ceiling
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_processor.py
Due: patch-coverage

📝 docs(lease): name every case the ceiling check does not cover
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
Due: verify-sync-generated, patch-coverage

📝 docs(lease): name the round trip between a credit and its clamp marker
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
Due: verify-sync-generated, patch-coverage

⬆️ deps: bump urllib3 to 2.8.0 and virtualenv to 21.14.5 (security)
  uv.lock
Due: none

add Benchmark (pytest) benchmark result for 791fc016927925d72bb1220d45b18a7b4474f1eb
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 791fc016927925d72bb1220d45b18a7b4474f1eb
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 3ea17cab24de727602ec81ef50079eb4626e319b
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 3ea17cab24de727602ec81ef50079eb4626e319b
  benchmarks/moto/data.js
Due: none

✅ test(limiter): pin that a middle entity keeps cascading to its parent
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(limiter): stamp a parent's bucket with the parent's own cascade
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/benchmark/test_capacity.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

📝 docs(claude): record the owner stamp on bucket items and its cost
  CLAUDE.md
Due: none

🐛 fix(limiter): keep a child's cold cascade off the grandparent
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
