Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

✨ feat(cli): earn the lambda_version stamp by one symmetric rule
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cli.py
  tests/unit/test_repository.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_repository.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): state the lambda_version stamp rule once, symmetrically
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/guide/session-quotas.md
  docs/operations/version.md
Due: none

📝 docs(version): name the right deploy flags in the reset_after refusal
  src/zae_limiter/version.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for ee0e9f865ab0abeb40ff78c9d8e2392b232bd37b
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for ee0e9f865ab0abeb40ff78c9d8e2392b232bd37b
  benchmarks/moto/data.js
Due: none

📝 docs(adr): design hidden reset_after config and the window marker
  docs/adr/139-duration-reset-windows.md
Due: none

✨ feat(limiter): mark each window as applied instead of trusting rf
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
  tests/unit/test_window_applied_marker.py
Due: verify-sync-generated, patch-coverage

✨ feat(schema): store reset_after config where pre-v0.15 readers skip it
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/version.py
  src/zae_limiter_provisioner/applier.py
  src/zae_limiter_provisioner/bucket_sync.py
  tests/unit/test_applier.py
  tests/unit/test_hidden_window_config.py
  tests/unit/test_provisioner_handler.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): pin hidden config and the window marker on LocalStack
  tests/integration/test_hidden_window_config.py
Due: none

📝 docs(limiter): document hidden session config and the wa marker
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/guide/session-quotas.md
  docs/operations/rate-limits.md
Due: none

📝 docs(adr): design a consumption snapshot for pending window rolls
  docs/adr/139-duration-reset-windows.md
Due: none

✨ feat(limiter): charge what a shard spends while its roll is pending
  src/zae_limiter/bucket.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_window_applied_marker.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): pin the pending-roll charge on LocalStack
  tests/integration/test_hidden_window_config.py
Due: none

📝 docs(limiter): state what a pending roll and an old TTL really do
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/guide/session-quotas.md
  docs/operations/rate-limits.md
Due: none

🐛 fix(cli): make check and version read-only
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

🐛 fix(cli): make status read-only
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

✅ test(limiter): deflake session-quota e2e tests under xdist load
  tests/e2e/test_session_quotas.py
Due: none

add Benchmark (pytest) benchmark result for bdf4f1eb26dbadfe625fbd43216e1261c440aef8
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for bdf4f1eb26dbadfe625fbd43216e1261c440aef8
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 74b44ff2759f93033542cd047075b99a3255c470
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 74b44ff2759f93033542cd047075b99a3255c470
  benchmarks/moto/data.js
Due: none

📝 docs(adr): split ADR-139 into three records per ADR-000
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  docs/adr/140-duration-window-shard-coherence.md
  docs/adr/141-reset-after-version-gate.md
  docs/guide/session-quotas.md
  mkdocs.yml
Due: none

📝 docs(adr): point shard and version-gate citations at ADR-140/141
  CLAUDE.md
  docs/performance.md
  docs/plans/2026-09-15-session-quotas-plan.md
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  src/zae_limiter/version.py
  src/zae_limiter_aggregator/processor.py
  tests/benchmark/test_capacity.py
  tests/fixtures/sharding.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_limiter.py
  tests/unit/test_processor.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
  tests/unit/test_window_shard_creation.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): restore the dropped conditions in ADR-139/140/141
  docs/adr/139-duration-reset-windows.md
  docs/adr/140-duration-window-shard-coherence.md
  docs/adr/141-reset-after-version-gate.md
  tests/benchmark/test_capacity.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(infra): skip absent Lambdas when auto-update pushes code
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/fixtures/moto.py
  tests/unit/test_repository.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_repository.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

🐛 fix(cli): upgrade stacks that do not deploy every Lambda
  src/zae_limiter/cli.py
  tests/e2e/test_upgrade_partial_stacks.py
  tests/unit/test_cli.py
Due: patch-coverage

📝 docs(infra): upgrade is the remedy on every stack shape
  CLAUDE.md
  docs/guide/session-quotas.md
  docs/operations/version.md
  src/zae_limiter/version.py
  tests/unit/test_applier.py
  tests/unit/test_cli.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
  tests/unit/test_version.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for 8b62d8c563606bef620f3e8cb69716ed0b11216d
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 8b62d8c563606bef620f3e8cb69716ed0b11216d
  benchmarks/moto/data.js
Due: none

📝 docs(adr): record #640 in ADR-140 and a new ADR-142
  docs/adr/140-duration-window-shard-coherence.md
  docs/adr/141-reset-after-version-gate.md
  docs/adr/142-hide-reset-after-config.md
  docs/guide/session-quotas.md
  mkdocs.yml
Due: none

📝 docs(adr): keep ADR-140's decision to two sentences
  docs/adr/140-duration-window-shard-coherence.md
Due: none

📝 docs(infra): align ADR-141 and the runbook with the #644 upgrade
  CLAUDE.md
  docs/adr/141-reset-after-version-gate.md
  docs/operations/version.md
Due: none

📝 docs(infra): mark the stored-stamp fallback as a guard
  src/zae_limiter/cli.py
  src/zae_limiter/repository.py
Due: verify-sync-generated, patch-coverage

✅ test(infra): split the partial-stack e2e test across workers
  tests/e2e/test_upgrade_partial_stacks.py
Due: none

🐛 fix(cli): make limits plan and diff read-only
  src/zae_limiter/cli.py
  src/zae_limiter/limits_cli.py
  tests/unit/test_cli_read_only.py
  tests/unit/test_limits_cli.py
Due: patch-coverage

🐛 fix(cli): stop plain read commands from provisioning
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
  tests/unit/test_cli_read_only.py
Due: patch-coverage

📝 docs(cli): document the read-only commands and their refusals
  CLAUDE.md
  docs/cli.md
  docs/infra/deployment.md
Due: none

✅ test(cli): pin limits apply's unresolved-namespace fallback
  tests/unit/test_limits_cli.py
Due: none

📝 docs(test): point window-marker test docstrings at the new records
  tests/unit/test_provisioner_bucket_sync.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
  tests/unit/test_window_applied_marker.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for 14cbdcc6f7938576c434d4cf704a2860fefdab46
  benchmarks/localstack/data.js
Due: none
