Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

✨ feat(repository): fan a newly anchored window out to an entity's shards
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): move a sibling's window only once it has ended
  docs/adr/139-duration-reset-windows.md
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✅ test(repository): pin the fan-out's balance and rsa against LocalStack
  tests/integration/test_bucket_sharding.py
Due: none

✅ test(repository): pin fan-out cancellation with CancelledError
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

♻️ refactor(test): share the doubling helpers and window constants
  tests/fixtures/sharding.py
  tests/fixtures/windows.py
  tests/unit/test_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_quota_shard_creation.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

✨ feat(repository): read one shard's duration-window starts
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_window_shard_creation.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): let a new shard join the window already in progress
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_window_shard_creation.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): never move rf backward past a window start
  src/zae_limiter/lease.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): fan out a new shard's anchor when the window had ended
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_window_shard_creation.py
Due: verify-sync-generated, patch-coverage

📝 docs(lease): say when a create carries a window anchor to fan out
  src/zae_limiter/lease.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): pin the transfer a new window shard is filled by
  tests/unit/test_window_shard_creation.py
Due: none

✨ feat(schema): give a duration-window quota a bucket TTL horizon
  src/zae_limiter/schema.py
  tests/unit/test_bucket_ttl.py
Due: patch-coverage

✨ feat(repository): carry a window length through the param sync
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(provisioner): mirror the window param sync in bucket_sync
  src/zae_limiter_provisioner/bucket_sync.py
  tests/unit/test_provisioner_bucket_sync.py
Due: patch-coverage

✨ feat(aggregator): roll a duration window it sees on the stream
  src/zae_limiter_aggregator/processor.py
  tests/integration/test_bucket_refill.py
  tests/unit/test_processor.py
Due: patch-coverage

✨ feat(aggregator): pin the window start a roll restores
  src/zae_limiter_aggregator/processor.py
  tests/integration/test_bucket_refill.py
  tests/unit/test_processor.py
Due: patch-coverage

✅ test(schema): pin the exact duration-window horizon and 3-way max
  tests/unit/test_bucket_ttl.py
Due: none

✅ test(schema): give _unrecoverable_limit an explicit reset_after=None
  tests/unit/test_bucket_ttl.py
Due: none

📝 docs(schema): explain the reset_after branch's ordering inline
  src/zae_limiter/schema.py
Due: patch-coverage

✅ test(lease): stop dodging the old TTL crash with multiplier=0
  tests/unit/test_lease.py
Due: none

✅ test(limiter): run the cascade anchor test at the default TTL multiplier
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

✨ feat(models): report when a duration window resets
  src/zae_limiter/bucket.py
  src/zae_limiter/exceptions.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_exceptions.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_window_reporting.py
Due: verify-sync-generated, patch-coverage

✨ feat(cli): render a duration window as a reset after first use
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

♻️ refactor(bucket): never report an ended duration window as a wait
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_window_reporting.py
Due: verify-sync-generated, patch-coverage

✨ feat(lease): re-stamp a changed window length on the locked write
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_lease.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
  tests/unit/test_window_reporting.py
Due: verify-sync-generated, patch-coverage

♻️ refactor(provisioner): spell the duration-window key reset_after_seconds
  src/zae_limiter_provisioner/bucket_sync.py
  tests/unit/test_provisioner_bucket_sync.py
Due: patch-coverage

✨ feat(provisioner): declare a duration window in the limits manifest
  CLAUDE.md
  src/zae_limiter/limits_cli.py
  src/zae_limiter_provisioner/applier.py
  src/zae_limiter_provisioner/handler.py
  src/zae_limiter_provisioner/manifest.py
  tests/integration/test_provisioner.py
  tests/unit/test_applier.py
  tests/unit/test_limits_cli.py
  tests/unit/test_provisioner_handler.py
  tests/unit/test_provisioner_manifest.py
Due: patch-coverage

✨ feat(repository): read the sibling window start consistently
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_window_shard_creation.py
Due: verify-sync-generated, patch-coverage

✨ feat(bucket): never quote retry-now for a request an ended window cannot clear
  src/zae_limiter/bucket.py
  tests/unit/test_window_reporting.py
Due: patch-coverage

✨ feat(repository): leave a sibling already past the new window start alone
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): state the window fan-out and shard-create rules as built
  CLAUDE.md
  docs/adr/139-duration-reset-windows.md
  src/zae_limiter/schema.py
Due: patch-coverage

🐛 fix(lease): never move rf backward on a slow-clock write
  tests/unit/test_limiter.py
  tests/unit/test_processor.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for de23445888131ec276652580b484c5ba1890359c
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for de23445888131ec276652580b484c5ba1890359c
  benchmarks/localstack/data.js
Due: none

✅ test(benchmark): pin a duration window's fast-path and rollover cost
  tests/benchmark/test_capacity.py
Due: none

✅ test(test): walk a duration window through every doubling and a clone
  tests/unit/test_window_shard_creation.py
Due: none

✅ test(test): race two window openers against a real backend
  tests/integration/test_bucket_sharding.py
Due: none

✅ test(test): cover session quotas end to end with real elapsed time
  tests/e2e/test_session_quotas.py
Due: none

📝 docs(models): scope the calendar-window claim to reset_schedule
  src/zae_limiter/models.py
Due: patch-coverage

📝 docs(guide): document session quotas
  docs/api/exceptions.md
  docs/api/models.md
  docs/cli.md
  docs/guide/basic-usage.md
  docs/guide/scheduled-limits.md
  docs/guide/session-quotas.md
  docs/operations/rate-limits.md
  docs/performance.md
  mkdocs.yml
Due: none

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
