Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

add Benchmark (pytest) benchmark result for 0ee35905af188565bb2813a1c72ac3aa2f50d265
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 0ee35905af188565bb2813a1c72ac3aa2f50d265
  benchmarks/moto/data.js
Due: none

🐛 fix(infra): omit IAM config exports when their values are empty
  docs/infra/cloudformation.md
  src/zae_limiter/infra/cfn_template.yaml
  tests/e2e/test_aws.py
  tests/unit/loadtest/test_cli.py
  tests/unit/test_cfn_exports.py
Due: check-aws-partition, patch-coverage

🐛 fix(cli): close the Repository that `deploy` opens for steps 4-5
  src/zae_limiter/cli.py
  tests/unit/test_cli.py
Due: patch-coverage

add Benchmark (pytest) benchmark result for f9c73e88b0378f2d03e3ca7f4768358452715d2a
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for f9c73e88b0378f2d03e3ca7f4768358452715d2a
  benchmarks/localstack/data.js
Due: none

🐛 fix(repository): retry BatchGetItem UnprocessedKeys at every call site
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_batch_get_unprocessed.py
Due: verify-sync-generated, patch-coverage

🎨 style(repository): drop the redundant empty-keys guard in _batch_get_all
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): correct CLAUDE.md shard selection to random, not hash
  CLAUDE.md
Due: none

add Benchmark (pytest) benchmark result for a1ecdba95ceae63e090e4e90d132dcc54cc4a2c7
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for a1ecdba95ceae63e090e4e90d132dcc54cc4a2c7
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for a520aba4dcdd8e15af9a2bd5689a84dc4f95826b
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for a520aba4dcdd8e15af9a2bd5689a84dc4f95826b
  benchmarks/moto/data.js
Due: none

🐛 fix(limiter): keep lease entries for limits estimated at 0
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): make the shard-retry lease usable and route writes to its shard
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for de924acbfffd946e6eba1bb0770c5c696773ea8d
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for de924acbfffd946e6eba1bb0770c5c696773ea8d
  benchmarks/localstack/data.js
Due: none

📝 docs(performance): name every limit the example later adjusts
  docs/performance.md
Due: none

📝 docs(infra): note that disable is enforced client-side during rollouts
  docs/infra/deployment.md
Due: none

add Benchmark (pytest) benchmark result for da955f28a07da2eb033727940df4e6ce0c752d15
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for da955f28a07da2eb033727940df4e6ce0c752d15
  benchmarks/localstack/data.js
Due: none

🔥 chore: sunset worktree skill modes covered by built-in support
  .claude/skills/worktree/SKILL.md
  .claude/skills/worktree/add.md
  .claude/skills/worktree/issue.md
  .claude/skills/worktree/list.md
  .claude/skills/worktree/prune.md
  .claude/skills/worktree/remove.md
  .claude/skills/worktree/status.md
  .gitignore
Due: none

🐛 fix(worktree): resume an issue's existing branch in issue mode
  .claude/skills/worktree/SKILL.md
  .claude/skills/worktree/issue.md
Due: none

📝 docs(worktree): stop crediting the skill with repo.worktrees/
  .claude/skills/worktree/status.md
Due: none

📝 docs(worktree): say what to do with legacy repo.worktrees/ checkouts
  .claude/skills/worktree/SKILL.md
Due: none

📝 docs(worktree): explain ExitWorktree's refusal after a resumed branch
  .claude/skills/worktree/issue.md
Due: none

add Benchmark (pytest) benchmark result for ec330b2164674b01e4e35974f137337f38eeb2f5
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for ec330b2164674b01e4e35974f137337f38eeb2f5
  benchmarks/localstack/data.js
Due: none

🐛 fix(ci): carry coverage flags forward on partial uploads
  codecov.yml
Due: none

🐛 fix(lease): warn when adjust() names a limit outside consume
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

📝 docs(lease): document consume as the declared scope of a lease
  CLAUDE.md
  docs/api/index.md
  docs/guide/basic-usage.md
  docs/guide/unavailability.md
Due: none

add Benchmark (pytest) benchmark result for 0065087e1aa50ceaca6687917c7fd9d20e89d11f
  benchmarks/moto/data.js
Due: none

✅ test(lease): cover release() expiry guard on a committed lease
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for 0065087e1aa50ceaca6687917c7fd9d20e89d11f
  benchmarks/localstack/data.js
Due: none

🔧 chore(ci): align editor Pyright with the mypy gate
  pyproject.toml
Due: none

👷 ci(test): trigger test workflow on changes to its own definition
  .github/workflows/ci-tests.yml
Due: none

👷 ci(test): gate Lambda packages on patch coverage and mypy
  .github/workflows/ci-tests.yml
  .pre-commit-config.yaml
Due: none

👷 ci(test): measure Lambda packages in the doctest coverage upload too
  .github/workflows/docs.yml
Due: none

add Benchmark (pytest) benchmark result for 6160884ba82eb60ff43a18c1b0aa460cd0f40ab8
  benchmarks/moto/data.js
Due: none

🐛 fix(lease): report undeclared limits with FutureWarning
  CLAUDE.md
  docs/api/index.md
  docs/guide/basic-usage.md
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage
