Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

add Benchmark (pytest) benchmark result for d4bf8e07b5a55ba37a8e3319816ead3a69c65488
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for d4bf8e07b5a55ba37a8e3319816ead3a69c65488
  benchmarks/moto/data.js
Due: none

📝 docs: fix 29 stale/inaccurate items across 9 documentation files
  CLAUDE.md
  docs/api/exceptions.md
  docs/api/index.md
  docs/contributing/architecture.md
  docs/infra/auditing.md
  docs/infra/cloudformation.md
  docs/infra/deployment.md
  docs/infra/production.md
  docs/migrations.md
Due: none

add Benchmark (pytest) benchmark result for cc9fd6a2c336a344b0aa71ab784c7590bbc8edaa
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for cc9fd6a2c336a344b0aa71ab784c7590bbc8edaa
  benchmarks/localstack/data.js
Due: none

👷 ci: add uv.lock to ci-tests paths filter
  .github/workflows/ci-tests.yml
Due: none

add Benchmark (pytest) benchmark result for d81c67822ad6ec4602777d819335cab8cc54cb5b
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for d81c67822ad6ec4602777d819335cab8cc54cb5b
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 2a06067c8796c3ae8c37b452ccb7b2e68edc4780
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 2a06067c8796c3ae8c37b452ccb7b2e68edc4780
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 7dd176395c0989761c8f33beae0d92c71ebd0fe8
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 7dd176395c0989761c8f33beae0d92c71ebd0fe8
  benchmarks/moto/data.js
Due: none

📝 docs: add pre-shard buckets design for GHSA-76rv-2r9v-c5m6
  docs/plans/2026-02-21-pre-shard-buckets-design.md
Due: none

📝 docs: add aggregator proactive sharding and shard propagation
  docs/plans/2026-02-21-pre-shard-buckets-design.md
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

✨ feat(schema): add bucket PK builders and GSI3 entity keys
  src/zae_limiter/schema.py
  tests/unit/test_schema.py
Due: patch-coverage

✨ feat(models): add reserved limit name validation for wcu
  src/zae_limiter/models.py
  tests/unit/test_models.py
Due: patch-coverage

✨ feat(schema): add WCU infrastructure limit constants
  src/zae_limiter/schema.py
  tests/unit/test_schema.py
Due: patch-coverage

🔒 fix(repository): migrate bucket items to per-shard partition keys
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): add wcu consumption to speculative writes and extend entity cache
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): add shard selection, retry on exhaustion, and shard doubling
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

✨ feat(aggregator): update processor for new bucket PK and shard-aware refill
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

✨ feat(aggregator): filter wcu, proactive sharding, shard propagation
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
Due: patch-coverage

✨ feat(repository): filter wcu from user output, schema v0.9.0, integration tests
  CLAUDE.md
  src/zae_limiter/migrations/__init__.py
  src/zae_limiter/migrations/m_0_9_0_bucket_pk.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  src/zae_limiter/version.py
  src/zae_limiter_aggregator/processor.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_cli.py
  tests/unit/test_limiter.py
  tests/unit/test_processor.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
  tests/unit/test_version.py
Due: verify-sync-generated, patch-coverage

📝 docs: update docstrings and docs site for pre-shard buckets
  docs/contributing/architecture.md
  docs/infra/deployment.md
  docs/migrations.md
  docs/operations/rate-limits.md
  docs/operations/recovery.md
  docs/performance.md
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
Due: verify-sync-generated, patch-coverage

🩹 fix(test): skip gevent test when gevent is not installed
  tests/unit/test_parallel_mode.py
Due: none

🩹 fix(test): skip gevent tests when gevent is not installed
  .pre-commit-config.yaml
  tests/unit/loadtest/test_worker.py
  tests/unit/test_parallel_mode_gevent.py
Due: none

✅ test(coverage): add tests for uncovered pre-shard bucket lines
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_schema.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

🐛 fix(repository): delete_entity discovers bucket items via GSI3
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_bucket_refill.py
  tests/integration/test_repository.py
Due: verify-sync-generated, patch-coverage

✅ test(e2e): fix e2e tests for pre-shard bucket schema v0.9.0
  tests/e2e/test_localstack.py
Due: none

✅ test(e2e): fix AWS e2e speculative consume tests for wcu filtering
  tests/e2e/test_aws.py
Due: none

🐛 fix(infra): update ESM filter for pre-shard bucket SK format
  docs/contributing/architecture.md
  src/zae_limiter/infra/cfn_template.yaml
Due: check-aws-partition, patch-coverage

📝 docs: add Task 32 (SpeculativeFailureReason) to implementation plan
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs: add Task 33 (high shard count warning) to implementation plan
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs: add Task 34 (missing test coverage) to implementation plan
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs: add Task 31 (gsi4_sk_bucket builder) to implementation plan
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs: add Task 30 (fix inflated capacity) to implementation plan
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs(design): add Task 35 — handle DynamoDB per-partition throttling for both capacity modes
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs(design): add Task 36 — fix propagate_shard_count to pre-create full shard items
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs(design): add Task 37 — fix proactive sharding signal to use wcu token level
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

📝 docs(design): add comprehensive test plan for Task 37 (24 tests across 4 layers)
  docs/plans/2026-02-21-pre-shard-buckets-implementation.md
Due: none

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
