Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

check-aws-partition:
  name: Check for hardcoded AWS partition in CloudFormation
  entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
  language: system
  stages:
  - pre-commit

verify-sync-generated:
  name: Verify generated sync code is up-to-date
  ...

patch-coverage:
  name: Check patch coverage (100%)
  entry: bash -c ' uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto && uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q && uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
  ...

add Benchmark (pytest) benchmark result for 6160884ba82eb60ff43a18c1b0aa460cd0f40ab8
  benchmarks/localstack/data.js
Due: none

✅ test(lease): generate the sync mirror of the declared-scope tests
  CLAUDE.md
  scripts/generate_sync.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: none

♻️ refactor(ci): declare coverage packages once via source_pkgs
  .claude/rules/testing.md
  .github/workflows/ci-tests.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  docs/contributing/development.md
  docs/contributing/testing.md
  pyproject.toml
Due: none

🔧 chore(ci): make bare mypy check every src package
  CLAUDE.md
  docs/contributing/development.md
  pyproject.toml
Due: none

👷 ci(test): drop dead pre-commit path trigger
  .github/workflows/ci-tests.yml
  codecov.yml
Due: none

🐛 fix(lease): scope RateLimitExceeded and slow-path admission to declared limits
  CLAUDE.md
  docs/api/exceptions.md
  docs/api/limiter.md
  docs/guide/basic-usage.md
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): clamp bucket tokens when set_limits shrinks capacity
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✨ feat(limiter): add Repository.reset_bucket to clear entity usage
  src/zae_limiter/cli.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_cli.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(limiter): document Repository.reset_bucket
  CLAUDE.md
  docs/cli.md
  docs/guide/config-hierarchy.md
  docs/infra/auditing.md
  docs/operations/rate-limits.md
Due: none

🐛 fix(test): use valid resource name in reset_bucket doc example
  docs/operations/rate-limits.md
Due: none

✅ test(limiter): add LocalStack integration coverage for reset_bucket
  tests/integration/test_reset_bucket.py
Due: none

✨ feat(limiter): add check_availability() combining capacity and wait time
  CLAUDE.md
  docs/api/models.md
  docs/guide/basic-usage.md
  docs/guide/llm-integration.md
  docs/performance.md
  src/zae_limiter/__init__.py
  src/zae_limiter/limiter.py
  src/zae_limiter/locust.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_limiter.py
  tests/unit/loadtest/test_locust.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✅ test(limiter): cover the parent-only path's undeclared-limit refill
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for 547fc2fa41b69ea2703e417654e8cb81203c7180
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 547fc2fa41b69ea2703e417654e8cb81203c7180
  benchmarks/localstack/data.js
Due: none

🐛 fix(limiter): only validate consume keys against the acquiring entity's limits
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): let warnings-as-errors escape the outage handler
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): accept consume keys known to either side of a cascade
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): keep entity and resource out of the unknown-key text
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): do not re-report acquire-time unknown keys on adjust
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

🐛 fix(bucket): report declared zero-estimate limits on fast reject
  src/zae_limiter/bucket.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: patch-coverage

📝 docs(guide): document that a declared zero estimate gates on debt
  docs/guide/basic-usage.md
  src/zae_limiter/limiter.py
Due: verify-sync-generated, patch-coverage

♻️ refactor(limiter): extract _admit_limit and declared_statuses
  src/zae_limiter/bucket.py
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
Due: verify-sync-generated, patch-coverage

⚡ perf(lease): compute declared limit names once per lease
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
Due: verify-sync-generated, patch-coverage

🔒 security(limiter): keep entity ids out of the unknown-key log line
  src/zae_limiter/limiter.py
  src/zae_limiter/sync_limiter.py
  tests/unit/test_sync_zero_estimate_lease.py
  tests/unit/test_zero_estimate_lease.py
Due: verify-sync-generated, patch-coverage

add Benchmark (pytest) benchmark result for aed13c8ad2a4785159a8482fd3627c132e2ce966
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for aed13c8ad2a4785159a8482fd3627c132e2ce966
  benchmarks/localstack/data.js
Due: none

📝 docs(performance): state write sharding no longer needs the aggregator
  CLAUDE.md
  docs/performance.md
Due: none

📝 docs(adr): add ADR-133 to the MkDocs navigation
  mkdocs.yml
Due: none

✅ test(limiter): cover the lost shard bump and the non-batch parent read
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🔒 security(limiter): create shard N>0 buckets from the client slow path
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/integration/test_bucket_sharding.py
  tests/integration/test_repository.py
  tests/unit/test_batch_get_unprocessed.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): record client-side shard bucket creation (ADR-133)
  docs/adr/133-client-shard-creation.md
Due: none

🐛 fix(limiter): size a client-created shard from the failure image
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): refill sharded buckets to their effective per-shard share
  src/zae_limiter/bucket.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/integration/test_bucket_sharding.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(limiter): compensate a speculative debit on the shard it hit
  src/zae_limiter/limiter.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): adopt the winner's shard_count when the bump loses
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_limiter.py
  tests/unit/test_repository.py
  tests/unit/test_sync_limiter.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

📝 docs(adr): link the tracked-separately items in ADR-133 to #468 and #474
  docs/adr/133-client-shard-creation.md
Due: none

✅ test(limiter): pin the no-new-range fallback after a wcu bump
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

🐛 fix(lease): re-issue an innocent new-shard Put after a sibling rf failure
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): never lower a cached shard_count from a stale image
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

Path conditions:
  check-aws-partition: any of: cfn_template\.yaml$
  verify-sync-generated: any of: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
  patch-coverage: any of: ^src/
