Repository zeroae/zae-limiter: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-partition, verify-sync-generated, patch-coverage

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        files: ^src/zae_limiter/
        args: ["--config-file=pyproject.toml"]
        additional_dependencies:
          - aioboto3>=12.0.0
          - boto3-stubs[dynamodb,s3,lambda,cloudformation,sts]>=1.34.0
          - types-aiobotocore[dynamodb,s3]>=2.0.0
          - types-docker>=7.0.0
          - click>=8.0.0
          - locust>=2.0.0
          - questionary>=2.0
          - types-gevent>=24.0.0
          - types-PyYAML>=6.0
          - pyyaml>=6.0

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.24.0
    hooks:
      - id: cfn-lint
        files: cfn_template\.yaml$

  - repo: local
    hooks:
      - id: check-aws-partition
        name: Check for hardcoded AWS partition in CloudFormation
        entry: bash -c 'if grep -n "arn:aws:" "$@" 2>/dev/null; then echo "Use ${AWS::Partition} instead of hardcoded aws partition"; exit 1; fi'
        language: system
        files: cfn_template\.yaml$
        stages: [pre-commit]

      - id: verify-sync-generated
        name: Verify generated sync code is up-to-date
        entry: >-
          bash -c "(python scripts/generate_sync.py 2>/dev/null || uv run python scripts/generate_sync.py) &&
          git diff --exit-code src/zae_limiter/sync_*.py src/zae_limiter/infra/sync_*.py tests/unit/test_sync_*.py 2>/dev/null ||
          (echo 'Generated sync code is out of date. Run: python scripts/generate_sync.py' && exit 1)"
        language: system
        files: ^(src/zae_limiter/(repository_protocol|repository|limiter|lease|config_cache|infra/(stack_manager|discovery))\.py|tests/unit/test_(limiter|repository|stack_manager|discovery|config_cache)\.py)$
        pass_filenames: false
        stages: [pre-commit]

  # Pre-push hooks (run before git push)
  - repo: local
    hooks:
      - id: patch-coverage
        name: Check patch coverage (100%)
        entry: >-
          bash -c '
          uv run pytest tests/unit/ --cov=zae_limiter --cov-report=xml -q -n auto &&
          uv run pytest tests/unit/ -m gevent -n 0 --cov=zae_limiter --cov-report=xml --cov-append -q &&
          uv run diff-cover coverage.xml --compare-branch=origin/main --fail-under=100'
        language: system
        stages: [pre-push]
        files: ^src/
        pass_filenames: false
        verbose: true

add Benchmark (pytest) benchmark result for 14cbdcc6f7938576c434d4cf704a2860fefdab46
  benchmarks/moto/data.js
Due: none

✅ test(infra): pin the client version in the e2e auto-update leg
  tests/e2e/test_upgrade_partial_stacks.py
Due: none

add Benchmark (pytest) benchmark result for e53b394d1b0d509de1ee3f6e96a180596a935217
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for e53b394d1b0d509de1ee3f6e96a180596a935217
  benchmarks/moto/data.js
Due: none

🐛 fix(cli): read with an unparseable client or schema version
  CLAUDE.md
  src/zae_limiter/cli.py
  tests/unit/test_cli_read_only.py
Due: patch-coverage

📝 docs(cli): scope #644's StackOperationError note to write commands
  CLAUDE.md
Due: none

add Benchmark (pytest) benchmark result for f8ac83f1a481d8f16d8f1c5da6819e865a6540e5
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for f8ac83f1a481d8f16d8f1c5da6819e865a6540e5
  benchmarks/localstack/data.js
Due: none

🐛 fix(version): parse a two-part release with a dev/pre suffix
  src/zae_limiter/version.py
  tests/unit/test_cli_read_only.py
  tests/unit/test_repository_builder.py
  tests/unit/test_version.py
Due: patch-coverage

👷 ci: fetch tags in unit/integration/e2e test jobs
  .github/workflows/ci-tests.yml
Due: none

✅ test(test): run sync_limiter's moto fixture serially (#656)
  tests/fixtures/moto.py
Due: none

📝 docs: describe tagless builds as refused, not unparseable
  CLAUDE.md
  docs/operations/version.md
  src/zae_limiter/cli.py
  src/zae_limiter/version.py
  tests/e2e/test_upgrade_partial_stacks.py
Due: patch-coverage

✅ test: pin tagless clients failing closed under a ratcheted min
  tests/unit/test_cli.py
  tests/unit/test_cli_read_only.py
  tests/unit/test_repository.py
  tests/unit/test_repository_builder.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated

✅ test(test): serialize every auto-mode moto repo (#656)
  tests/unit/conftest.py
Due: none

add Benchmark (pytest) benchmark result for 458646137b469a84fefaf7d3ed2f90d30194272d
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 458646137b469a84fefaf7d3ed2f90d30194272d
  benchmarks/localstack/data.js
Due: none

add Benchmark (pytest) benchmark result for 142ecdcbd9ac3eb3e14f95ea83f3ad3b1c3df36d
  benchmarks/moto/data.js
Due: none

🐛 fix(test): freeze the clock before the schedule-boundary setup
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated

add Benchmark (pytest) benchmark result for 142ecdcbd9ac3eb3e14f95ea83f3ad3b1c3df36d
  benchmarks/localstack/data.js
Due: none

📝 docs(limiter): plan opt-in merging of limits through the config hierarchy
  docs/plans/2026-09-28-limit-inheritance-merge-plan.md
Due: none

add Benchmark (pytest) benchmark result for 13e6e1fe9815a520ccc2daa775a76f7c6b901b4e
  benchmarks/moto/data.js
Due: none

add Benchmark (pytest) benchmark result for 13e6e1fe9815a520ccc2daa775a76f7c6b901b4e
  benchmarks/localstack/data.js
Due: none

📝 docs(limiter): add schedule-only limit patches to the merge plan
  docs/plans/2026-09-28-limit-inheritance-merge-plan.md
Due: none

📝 docs(limiter): allow resource-level limit patches in the merge plan
  docs/plans/2026-09-28-limit-inheritance-merge-plan.md
Due: none

📝 docs(limiter): record resolved Q1/Q2 in the merge plan
  docs/plans/2026-09-28-limit-inheritance-merge-plan.md
Due: none

📝 docs(limiter): add ADR-143 and ADR-144 for limit inheritance by merge
  docs/adr/143-merge-limits-through-hierarchy.md
  docs/adr/144-fan-out-to-merged-entity-buckets.md
  docs/plans/2026-09-28-limit-inheritance-merge-plan.md
  mkdocs.yml
Due: none

📝 docs(plans): design the quota shard grant record (#637, #642)
  docs/plans/2026-09-28-quota-shard-grant-design.md
Due: none

📝 docs(plans): add invariants, hidden costs and guards to the quota design
  docs/plans/2026-09-28-quota-shard-grant-design.md
Due: none

📝 docs(plans): correct the aggregator IAM claim and the ADR number
  docs/plans/2026-09-28-quota-shard-grant-design.md
Due: none

📝 docs(plans): add the quota shard grant implementation plan
  docs/plans/2026-09-28-quota-shard-grant-plan.md
Due: none

📝 docs(adr): add ADR-145, a sharded quota conserves its allowance
  docs/adr/145-sharded-quota-conserves-allowance.md
  mkdocs.yml
Due: none

✨ feat(schema): store the quota grant count b_{q}_gc
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/schema.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter_aggregator/processor.py
  tests/unit/test_processor.py
  tests/unit/test_repository.py
  tests/unit/test_schedule_encoding.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage

♻️ refactor(models): split the refill ceiling from the reset target
  CLAUDE.md
  src/zae_limiter/bucket.py
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/models.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  tests/e2e/test_localstack.py
  tests/unit/test_bucket.py
  tests/unit/test_limiter.py
  tests/unit/test_models.py
  tests/unit/test_quota_shard_creation.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✨ feat(models): add the ADR-145 quota grant decision
  src/zae_limiter/models.py
  tests/fixtures/quota_model.py
  tests/unit/test_quota_grant_plan.py
Due: patch-coverage

✨ feat(limiter): stamp the quota grant count on reset and roll
  src/zae_limiter/lease.py
  src/zae_limiter/limiter.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_lease.py
  src/zae_limiter/sync_limiter.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

🐛 fix(lease): pin a grant on the tightest count, not the largest
  src/zae_limiter/lease.py
  src/zae_limiter/sync_lease.py
  tests/unit/test_lease.py
  tests/unit/test_limiter.py
  tests/unit/test_sync_limiter.py
Due: verify-sync-generated, patch-coverage

✨ feat(repository): plan quota shard grants and build donor debits
  src/zae_limiter/models.py
  src/zae_limiter/repository.py
  src/zae_limiter/repository_protocol.py
  src/zae_limiter/sync_repository.py
  src/zae_limiter/sync_repository_protocol.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_quota_shard_creation.py
Due: verify-sync-generated, patch-coverage

🐛 fix(infra): refresh stack version tags on upgrade
  src/zae_limiter/cli.py
  src/zae_limiter/infra/stack_manager.py
  src/zae_limiter/infra/sync_stack_manager.py
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_cli.py
  tests/unit/test_repository_builder.py
  tests/unit/test_stack_manager.py
  tests/unit/test_sync_stack_manager.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): freeze a legacy grant size when the planner raises its count
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_expression_tokens.py
  tests/unit/test_quota_shard_creation.py
Due: verify-sync-generated, patch-coverage

🐛 fix(repository): defer the sync planner's sibling raise into its lambda
  src/zae_limiter/repository.py
  src/zae_limiter/sync_repository.py
  tests/unit/test_repository.py
  tests/unit/test_sync_repository.py
Due: verify-sync-generated, patch-coverage
